@charset "UTF-8";
@import "../fonts/iconfont.css";
/*
* @Author: Marte
* @Date:   2018-02-25 08:37:05
* @Last Modified by:   Marte
* @Last Modified time: 2018-02-25 20:36:20
*/
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: .14rem;
  box-sizing: border-box; }

html {
width:100%;
height:100%;
  font-size: 100px;
  min-width:320px;}

body {
width:100%;
height:100%;
  user-select: none;
  -webkit-user-select: none;
  touch-callout: none;
  -webkit-touch-callout: none; }


a {
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

@mixin num($w,$h){
    width:$w;
    height:$h;
}
@mixin cir($w){
    width:$w;
    height:$w;
    border-radius:50%;
    display:inline-block;
}
%text{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
@mixin text($n){
    display:-webkit-box;
    -webkit-box-orient:vertical;
    word-break:break-all;
    -webkit-line-clamp:$n;
    overflow:hidden;
    text-overflow:ellipsis;
}
@font-face{
    font-family:"iconfont";
    src:url(../iconfont/iconfont.svg);
    src:url(../iconfont/iconfont.woff);
    src:url(../iconfont/iconfont.ttf);
    src:url(../iconfont/iconfont.eot);
}
.box{
    @include num(100%,100%);
    display:flex;
    flex-direction:column;
}
header{
    @include num(100%,1.35rem);
    flex-shrink:0;
    .head1{
    @include num(100%,.45rem);
    display:flex;
    align-items:center;
    padding:0 .1rem;
    i.iconfont{
    color:#1c90e3;
    font-size:.2rem;
    }
    span{
    font-weight:bold;
    margin-left:.1rem;
    border-left:.01rem solid #d6d6d6;
    padding-left:.1rem;
    }
    }
    .head2{
    @include num(100%,.45rem);
    background:#c8c9ce;
    display:flex;
    align-items:center;
    padding:0 .2rem;
    form{
    position:relative;
    flex:1;
    span.iconfont{
    position:absolute;
    top:.08rem;
    left:.05rem;
    color:#9ea09f;
    }
    input{
    @include num(100%,.35rem);
    padding:0 .2rem;
    border-radius:.05rem;
    border:0;
    outline:none;
    &::-webkit-input-placeholder{
    color:#9ea09f;
    }
    }
    }
    }
    .head3{
    @include num(100%,.45rem);
    ul{
    display:flex;
    @include num(100%,.45rem);
    align-items:center;
    li{
    @include num(50%,auto);
    text-align:center;
    font-size:.16rem;
    font-weight:bold;
    //margin:0 .1rem;
    line-height:.43rem;
    &:nth-child(1){
    border-right:.01rem solid #ccc;
    }
    &:hover{
    border-bottom:.02rem solid #2583b9;
    color:#2583b9;
    }
    }
    }
    }
}
section{
    flex:1;
    overflow:hidden;
    overflow-y:scroll;
    background:yellow;
    .ding{

    @include num(100%,.35rem);
    background:#eff3f6;
    border-bottom:.01rem solid #ccc;
    display:flex;
    justify-content:space-between;
    padding:0 .2rem;
    align-items:center;
    span{
    color:#8fa0a8;
    font-weight:bold;
    }

    }
    .content{
    @include num(100%,.45rem);
    padding:0 .2rem;
    background:#fff;
    border-bottom:.01rem solid #ccc;
    span{
    font-size:.16rem;
    line-height:.45rem;
    }
    }
}
.fixed{
    z-index:22;
    display:flex;
    flex-direction:column;
    @include num(.2rem,auto);
    position:fixed;
    top:1rem;
    right:.2rem;
    span{
    color:#83969a;
    }
}
