/*
* @Author: Marte
* @Date:   2018-01-16 08:36:54
* @Last Modified by:   Marte
* @Last Modified time: 2018-01-16 09:26:28
*/
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-size: 12px;
}
table{
    margin:0 auto;
}
table tr{
    height: 40px;

}
/* table tr td{
width: 150px;
} */
.qiu{
    background:url(../images/qiu_03.jpg) no-repeat 30px center;
}
.ting{
    background:url(../images/ren_03.jpg) no-repeat 30px 0;
    vertical-align: top;
    border-right:1px solid #aabad1;

}
.tu{
    width: 70px;
}
.zi{
    width: 250px;
}
input{
    width: 88px;
    height: 30px;
    background:#f5f3f4 url(../images/dian_14.jpg) no-repeat 5px center;
    text-align:center;
border:0;
margin-top: 5px;
}
.a1,.a2,.a3,.a4{
    vertical-align:top;
    border-right:1px solid #aabad1
}
table tr td{
border-right: 0;
border-left:0;
}
.a6{
  border-right:1px solid #aabad1
}
