/*
* @Author: Marte
* @Date:   2018-01-29 08:47:54
* @Last Modified by:   Marte
* @Last Modified time: 2018-01-29 16:47:00
*/
*{
    padding:0;
    margin:0;
    list-style:none;
    text-decoration:none;
    font-size:14px;
}
html,body,.box{
    width:100%;
    height:100%;
    font-size:100px;

}
@mixin num($w,$h){
    width:$w;
    height:$h;
}
@mixin hf{
    width:100%;
    height:.5rem;
    //background:red;
}

header{
    @include hf;
    ul{
     li{
    float:left;
    width:24%;
    img{
    @include num(.24rem,auto);
    margin:.13rem .15rem;

    }
    &:nth-child(2) h2{
    font-size:.2rem;
    color:#ec3891;
    text-align:right;
    line-height:.5rem;
    }
    &:nth-child(3) select{
    width:.6rem;
    height:.3rem;
    margin-top:.09rem;
    border:0;
    font-size:.16rem;
    padding-left:.1rem;
    }
    }

    }

}
section{
    @include num(100%,auto);
    padding:0 .2rem;
    //height:calc(100% - .5rem - .5rem);
    //height:21.50rem;
    //background:pink;
    input:nth-child(1){
    background:#b2b3b7;
    width:100%;
    height:.3rem;
    margin-top:.1rem;
    border-radius:.05rem;
    border:.01rem solid #d7d7d9;
    box-shadow:.5rem;
    outline:none;
    padding-left:.25rem;
    background:#f3f4f6 url(../images/sou_03.jpg) no-repeat left center;
    }
    img{
    width:100%;
    margin-top:.1rem;
    }
    input:nth-of-type(2){
    width:80%;
    height:.3rem;
    margin-left:9%;
    margin-top:.1rem;

    border-radius:.5rem 0 0 .5rem;
    border:.01rem solid #d7d7d9;
    box-shadow:.5rem;
    outline:none;
    background:#f3f4f6 url(../images/sou_03.jpg) no-repeat .05rem center;
    padding-left:.3rem;
    }
    input:nth-of-type(3){
    height:.3rem;
    width:5%;
    margin-left:-.05rem;
    color:#dc3494;
    border-radius:0 .5rem .5rem 0;
     outline:none;
     background:#f3f4f6;
     border:0;
    }
    h3{
    font-size:.2rem;
    text-align:center;
    margin-top:.1rem;
    background:url(../images/cai_05.jpg) no-repeat 37% center,url(../images/cai_05.jpg) no-repeat 64% center;
    }
    .small{
    margin-top:.1rem;
    width:100%;
    height:1.60rem;
    img{
    float:left;
    width:48%;
    margin-left:1%;
    }
    }
    .next{
    width:100%;
    height:2.84rem;
    //background:#f3f4f6;
    p{
    font-size:.3rem;
    text-align:center;
    margin-top:1rem;
    font-weight:bold;
    }
    img{
    width:48%;
    float:left;
    //height:2.5rem;
    margin-left:1%;
    }}
    .next1{
    width:100%;
    //height:6.44rem;
    p{
    font-size:.3rem;
    text-align:center;
    margin-top:.3rem;
    font-weight:bold;
    }
    img{
    width:100%;
    //height:6rem;
    }
    }
    .next3{
    width:100%;
    height:3.8rem;
    p{
    font-size:.3rem;
    text-align:center;
    margin-top:.15rem;
    font-weight:bold;
    }
    img{
    width:100%;
    //height:3rem;
    }
    h4{
    font-size:.16rem;
    font-weight:normal;
    margin-left:1%;
    }
    }
}
footer{
    @include hf;
    p{
    font-size:.3rem;
   span:nth-of-type(2){
   float:right;
   line-height:.5rem;
   }
    }
}