@charset "UTF-8";
@import "../iconfont/iconfont.css";
/*
* @Author: Marte
* @Date:   2018-02-08 14:53:12
* @Last Modified by:   Marte
* @Last Modified time: 2018-02-08 17:21:36
*/

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: .14rem;
  box-sizing: border-box; }

html {
height:100%;
width:100%;
  font-size: 100px; }

body {
height:100%;
width:100%;
  user-select: none;
  -webkit-user-select: none;
  touch-callout: none;
  -webkit-touch-callout: none; }


a {
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

@mixin num($w,$h){
    width:$w;
    height:$h;
}
@mixin cir($w){
    width:$w;
    height:$w;
    border-radius:50%;
    display:inline-block;
}
%text{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
@mixin text($n){
    display:-webkit-box;
    -webkit-box-orient:vertical;
    word-break:break-all;
    -webkit-line-clamp:$n;
    overflow:hidden;
    text-overflow:ellipsis;
}
@font-face{
    font-family:"iconfont";
    src:url(../iconfont/iconfont.svg);
    src:url(../iconfont/iconfont.woff);
    src:url(../iconfont/iconfont.ttf);
    src:url(../iconfont/iconfont.eot);
}
.box{
    @include num(100%,100%);
    flex-shrink:0;
    display:flex;
    flex-direction:column;
}
header{
    @include num(100%,.45rem);
    //background:red;
    display:flex;
    justify-content:space-between;
    align-items:center;

    form{
    @include num(90%,.35rem);
    margin-left:5%;
    position:relative;
    input{
    @include num(100%,.35rem);
    border-radius:.05rem;
    background:#e5e9ec;
    border:0;
    outline:none;
    padding-left:.2rem;
    }
    }
    span{
    position:absolute;
    top:.07rem;;
    left:.03rem;
    color:#43474a;
    }
    p{
    position:absolute;
    top:.07rem;;
    right:.03rem;
    color:#43474a;
    }
}
section{
    flex:1;
    background:#f2f2f2;
    overflow:hidden;
    overflow-y:scroll;
    position:relative;
    .banner{
    @include num(100%,auto);
    position:relative;
    >ul{
    @include num(300%,auto);
    display:flex;
    li{
    width:33.3%;
    img{
    @include num(100%,auto);
    }
    }
    }
    ol{
    @include num(.5rem,.1rem);
    position:absolute;
    bottom:.1rem;
    right:.1rem;
    //background:pink;
    display:flex;
    justify-content:space-between;
    li{
    @include num(.1rem,.1rem);
    border-radius:.5rem;
    border:.01rem solid white;

    &:hover{
    background:white;
    }
    }
    }
    }
    .nav{
    background:#fff;
    ul{
    display:flex;
    @include num(100%,auto);
    justify-content:space-between;
    padding:0 .1rem;
    li{
    @include num(20%,auto);
    text-align:center;
    img{
    @include num(80%,auto);
    display:block;
    }
    span{
    font-size:.14rem;
    color:#575f62;

    }
    }
    }

    }
    .content1{
    background:#fff;
    ul{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    @include num(100%,auto);
    li{
    @include num(50%,auto);
    display:flex;
    //background:yellow;
    border:.01rem solid #ebebeb;
    padding:0 .05rem;
    .left{
    @include num(50%,auto);
    //background:red;
    text-align:center;
    h2{
    font-size:.18rem;
    }
    img{
    @include num(50%,auto);
    //margin-top:.15rem;
    display:block;
    margin:.1rem auto;
    }
    span{
    color:#c5194b;
    }
    }
    .right{
    //background:pink;
    text-align:center;
    @include num(50%,auto);
    img{
    @include num(100%,auto);
    margin-top:.2rem;

    }
    span{
    color:#c5194b;
    }
    }
    }
    }
    }
    .content2{
    h1{
    @include num(100%,auto);
    text-align:center;
    color:#26ac93;
    img{
    @include num(.5rem,auto);

    }
    }
    ul{
    @include num(100%,auto);
    display:flex;
    li{
    @include num(25%,auto);
    border:.01rem solid #efefef;
    background:#fff;
    text-align:center;
    p{
    font-size:.1rem;
    color:#9e9e9e;
    }
    img{
    @include num(90%,auto);
    margin-top:.1rem;
    }
    }
    }
    img{
    @include num(100%,auto);
    }
    }
    .content3{
    h1{
    @include num(100%,auto);
    text-align:center;
    color:#ff4978;
    img{
    @include num(.5rem,auto);
    }
    }
    ul{
    @include num(100%,auto);
    display:flex;

    li{
    padding:0 .1rem;
    @include num(33.3%,auto);
    background:#fff;
    text-align:center;
    .top{
    position:relative;
    img{
    @include num(50%,auto);

    }
    p{
    @include num(.5rem,.2rem);
    background:rgba(0,0,0,0.3);
    line-height:.2rem;
    text-align:center;
    position:absolute;
    bottom:0;
    right:0;
    color:white;
    font-size:.1rem;
    }
    }

    .bot{
     p{
    font-size:.1rem;
    b{
    display:inline-block;
    @include num(.14rem,.14rem);
    font-size:.12rem;
    color:white;
    background:#ff4978;
    text-align:center;
    line-height:.14rem;
    }
    }
    span{
    text-align:left;
    color:#cf1a4d;
    time{
    color:#9f9f9f;
    text-decoration:line-through;
    }
    }
    }

    }
    }
    }
    .content4{
    ul{
    display:flex;
    @include num(100%,auto);
    padding:0 .1rem;
    flex-wrap:wrap;
    li{
    @include num(23%,.3rem);
    background:#fff;
    border-radius:.06rem;
    margin-right:.05rem;
    margin-top:.05rem;
    line-height:.3rem;
    text-align:center;
    }
    }
    }
}
.fixed{
 @include num(100%,.45rem);
 background:rgba(0,0,0,.3);
 position:absolute;
 top:.45rem;
 left:0;
 display:flex;
 justify-content:space-between;
 padding:0 .1rem;
 align-items:center;
 span{
 margin-right:.1rem;
 font-size:.2rem;
 color:#fff;
 }
 p{
 margin-left:.1rem;
 font-size:.2rem;
 color:#fff;
 }
 form{
 position:relative;
 flex:1;
 height:.3rem;
 input{
 @include num(100%,100%);
 padding-left:.2rem;
 }
 }
 time.iconfont{
 position:absolute;
 top:.05rem;
 left:.03rem;
 }
}
footer{
    @include num(100%,.45rem);
    flex-shrink:0;
    background:#eeeff1;
    padding:0 .1rem;
    ul{
    display:flex;
    //align-items:center;
    justify-content:space-between;
    li{

    span.iconfont{
    font-size:.3rem;
    line-height:.45rem;
    color:#333436;
    &:hover{
    color:#bfc0c2;
    }
    }
    }
    }
}