@charset "UTF-8";
@import url(conmon.css);


.wrap2{
	width:600px;
	margin: 50px auto;
    height:200px;
    div{
      width: 133px;
      height: 200px;
      float: left;
      overflow: hidden;
      border:solid 1px #ccc;
      cursor: pointer;
      position:relative;
      img{
      	width: 100%;
      	height:100%;
      	display: block;
      }
      .mark{
      	 width:100%;
      	 height:100%;
      	 position:absolute;
      	 left:0;
      	 top:0;
      	 background:rgba(0,0,0,0.4);
      	 transform: translate(0,-100%);
      	 transition: 1s linear;
      }
    }
}

.wrap2 div:hover .mark{
	transform: translate(0,0);
}

.wrap{
	width:600px;
	margin: 50px auto;
    height:200px;
    div{
      width: 133px;
      height: 200px;
      float: left;
      overflow: hidden;
      border:solid 1px #ccc;
      margin:0 5px;
      cursor: pointer;
      img{
      	width: 100%;
      	height:100%;
      	display: block;
      	transition: 2s linear;
      }
    }
}

.wrap div img:hover{
   transform:scale(1.25);
}


//划过导航
header{
	width:100%;
	height:.5rem;
	border-bottom:solid 1px #ccc;
	line-height:.5rem;
	position:relative;
	a{
	   float: left;
	   width: (100%/3);
	   text-align: center;
	   color:#000;
	   font-size: .16rem;
	   
	}
	span{
	  position:absolute;
	  left:0;
	  width:(100%/3);
	  height:1px;
	  background:red;
	  bottom:-1px;
	  transition: 1s;
	}
	a:nth-child(2):hover~span{
	  transform:translate(100%);
	}

	a:nth-child(3):hover~span{
	  transform:translate(200%);
	}
}










/* .skew{
	width:100px;
	height:100px;
	margin:10px auto;
	background:green;
	transform:skew(45deg,30deg);
} */

/* .wrap{
	width:120px;
	height:120px;
	border:solid 2px #ccc;
	transform: translate(100px,100px);
}
.rotate{
	width:100px;
	height:100px;
	margin:10px auto;
	background:green;
	transition: 2s ease 1s;
	//默认是z轴
}

.rotate:hover{
   transform: rotate3d(0,1,0,90deg);
} */

/* .move{
	width:100px;
	height:100px;
	background:green;
	transform: translate(200px,100px);
	transition: 3s linear 1s;
}

.move:hover{
   transform: translate3d(-50px,-30px);//默认是X轴
} */


/* .scale{
	width:100px;
	height:100px;
	border:solid 2px #ccc;
	background:orange;
	margin: 50px 100px;
	transition:all 2s ease-in 1s;
	overflow:hidden;
}

.scale:hover{
   transform:scale(1.5);
} */

/* div{
   width:100px;
   height:200px;
   background:red;
   transition: ;
   transition-property:width;
   transition-duration:2s;
   transition-timing-function:linear;
   transition-delay:1s;
   //transition:width 2s linear 1s,height 2s linear 1s,background 3s 1s;
  transition:
   width(过渡的属性) 默认不写属性表示要过渡所有属性
   2s(整个动画执行的时长) 
   linear(动画运动的方式) ease
   1s(开始动画所延长的时间) 
}

div:hover{
	width:300px;
	height:300px;
	background:yellow;
} */