/*
* @Author: Marte
* @Date:   2018-01-12 08:37:03
* @Last Modified by:   Marte
* @Last Modified time: 2018-01-12 09:23:25
*/
*{
    padding: 0;
    margin: 0;
    list-style:none;
    text-decoration: none;

}
.box{
    width: 1200px;
    height: 380px;
   /*  background: yellow; */
    margin:0 auto;
}
.left{
width: 177px;
height: 380px;
background:#38bca4;
float: left;
}
.left ul li{
    height: 40px;
    padding-left: 15px;
    line-height: 40px;

}
.left ul li:first-child{
    background:#31a894;
}
.left ul li:hover{
    background:#31a894;
}
.left ul li a{
    color:white;
    font-size:16px;
}
.left ul li a:after{
    content:">";
    float: right;
    margin-right: 15px;
}
.right{
width: 1016px;
height: 380px;
/* background:red; */
float: left;
margin-left: 5px;
}
.top{
    width:1016px;
  /*   background:white; */
    height:40px;border-bottom: 2px solid #38bca4;
}
.top ol li{
float: left;
padding-left: 18px;
line-height:40px;

}
.top ol li a{
    color:black;
}
.bottom{
    width:1016px;
    /* background:white; */
    height:330px;
    margin-top: 10px;
}
.bottom .bottomleft{
    width: 756px;
    height: 329px;
    float: left;
}
.bottom .bottomright{
    width: 248px;
    height:329px;
    /* background:#ccc; */
    float: left;
    margin-left: 12px;
}
.bottom .bottomright .bt{
    width: 247px;
    height: 161px;
   /*  background:orange; */
}
.bottom .bottomright .bt dl{
    width: 80px;
    height: 79px;
    border:0.5px solid #e5e5e5;
    float: left;
}
.bottom .bottomright .bt dl dd{
    color:#606060;

    text-align: center;
    margin-top: 5px;
}
.bottom .bottomright .bt dl dt{
    width: 33px;
    height: 33px;
    background:white;
    margin-top: 15px;
    margin-left: 20px;
    background:url(../images/sprxue_03.jpg) no-repeat;
    background-position:-21px -15px;
}
.bottom .bottomright .bt dl:nth-child(2) dt{
    background-position:-104px -15px;
}
.bottom .bottomright .bt dl:nth-child(3) dt{
    background-position:-191px -15px;
}
.bottom .bottomright .bt dl:nth-child(4) dt{
    background-position:-21px -95px;
}
.bottom .bottomright .bt dl:nth-child(5) dt{
    background-position:-104px -95px;
}
.bottom .bottomright .bt dl:nth-child(6) dt{
    background-position:-191px -95px;
}
.bb{
    width: 244px;
    height: 158px;
    border:2px solid #e5e5e5;
    margin-top: 5px;
}
.smallnav{
    width: 244px;
    height: 37px;
    background:#f6f6f6;
}
.smallnav ul li{
width: 82px;
line-height:37px;
text-align:center;
float: left;
}
.smallnav ul li a{
color:#606060;
}
.smallnav ul li:hover{
    background:white;
}
.smallnav ul li:nth-child(2){
    background:white;
}
.bb ol li{
    height: 25px;
    line-height:25px;
    background:url(../images/dian_03.jpg) no-repeat left center;
    padding-left: 10px;
    margin-left: 10px;
    color:#606060;
    font-size:14px;
}