@charset "UTF-8";
@import "../iconfont/iconfont.css";
/*
* @Author: Marte
* @Date:   2018-02-10 18:54:48
* @Last Modified by:   Marte
* @Last Modified time: 2018-02-10 20:35:06
*/

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: .14rem;
  box-sizing: border-box; }

html {
height:100%;
width:100%;
  font-size: 100px;
  font-family:"华文行楷";}

body {
height:100%;
width:100%;
  user-select: none;
  -webkit-user-select: none;
  touch-callout: none;
  -webkit-touch-callout: none; }


a {
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

@mixin num($w,$h){
    width:$w;
    height:$h;
}
@mixin cir($w){
    width:$w;
    height:$w;
    border-radius:50%;
    display:inline-block;
}
%text{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
@mixin text($n){
    display:-webkit-box;
    -webkit-box-orient:vertical;
    word-break:break-all;
    -webkit-line-clamp:$n;
    overflow:hidden;
    text-overflow:ellipsis;
}
@font-face{
    font-family:"iconfont";
    src:url(../iconfont/iconfont.svg);
    src:url(../iconfont/iconfont.woff);
    src:url(../iconfont/iconfont.ttf);
    src:url(../iconfont/iconfont.eot);
}
.box{
    @include num(100%,100%);
    display:flex;
    flex-direction:column;
}
header{
    @include num(100%,.45rem);
    background:#3477df;
    ul{
    @include num(100%,auto);
    display:flex;
    justify-content:space-between;
    padding:0 .1rem;
    align-items:center;
    li{
    @include num(20%,auto);
    text-align:center;
    a{
    font-size:.18rem;
    font-weight:bold;
    color:white;
    line-height:.45rem;
    }
    }
    }
}
section{
    flex:1;
    overflow:hidden;
    overflow-y:scroll;
    background:#fff;
    .banner{
    position:relative;
    img{
    @include num(100%,auto);
    }
    form{
    position:absolute;
    left:0;
    bottom:-.2rem;
    @include num(90%,.45rem);
    margin-left:5%;
    background:pink;
    border-radius:.6rem;
    border:.01rem solid #cee2e9;
    overflow:hidden;
    display:flex;
    input[type=text]{
    flex:1;
    padding-left:.1rem;
    padding-right:.4rem;
    background:#fff url(../images/xiangji_03.jpg) no-repeat right center;
     background-size:.3rem;
    border:0;
    outline:none;
    &:-webkit-input-placeholder{
    color:#b2b2b2;
    }
    }
    input[type=submit]{
    @include num(.5rem,.45rem);
    border:0;
    outline:none;
    background:#4d8dee url(../images/sou_03.jpg) no-repeat center center;
    background-size:.2rem;
    }
    }
    }
    .nav1{
    margin-top:.2rem;
    padding:0 .1rem;
    ul{
    @include num(100%,.45rem);
    display:flex;
    justify-content:space-between;
    li{
    @include num(25%,auto);
    text-align:center;
    line-height:.45rem;
    border-bottom:.02rem solid #f1f1f1;
    &:hover{
    border-bottom:.02rem solid #418bec;
    }
    &:hover a{
    color:#418bec;
    }
    a{
    color:black;
    font-size:.16rem;
    }
    }
    }
    }
    .nav2{
    ul{
    @include num(100%,auto);
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    padding:.05rem .1rem;
    align-items:center;
    li{
    @include num(20%,auto);
    text-align:center;
    padding:.05rem 0;
    img{
    @include num(90%,auto);
    display:block;
    margin:0 auto;
    }
    }
    }
    }
    .content1{
    @include num(100%,auto);
    margin-top:.05rem;
    position:relative;
    ul{
    @include num(300%,auto);
    display:flex;
    overflow:hidden;
    justify-content:space-between;
//position:relative;
    li{
    @include num(33.3%,auto);
    img{
    @include num(100%,auto);
    }
    }
    }
    ol{
    @include num(.5rem,.1rem);
    //background:pink;
    position:absolute;
    left:50%;
    margin-left:-.25rem;
    bottom:.05rem;
    display:flex;
    justify-content:space-between;
    li{
    @include num(.1rem,.1rem);
    border-radius:.5rem;
    background:#494949;
    &:hover{
    background:red;
    }
    }
    }
    .aa{
    @include num(100%,auto);
    background:rgba(0,0,0,.3);
    position:absolute;
    top:0;
    left:0;
    padding:.05rem;
    h1{
    font-size:.18rem;
    color:white;
    }
    h4{

    color:white;
    }
    }
    }
    .content2{
    margin-top:.1rem;
    display:flex;
    justify-content:space-between;
    @include num(100%,auto);
    .left{
    @include num(50%,auto);
    text-align:center;
    border-bottom:.01rem solid #ccc;
    p{
    font-weight:bold;
    font-size:.16rem;
    height:.2rem;
    line-height:.2rem;
    }
    span{
    display:block;
    color:#969696;
    height:.2rem;
    line-height:.2rem;
    }
    img{
    @include num(70%,auto);
    margin-top:.1rem;
    }
    }
    .right{
    @include num(50%,auto);

    .r_top{
    @include num(100%,50%);
    border-left:.01rem solid #ccc;
    border-bottom:.01rem solid #ccc;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 .1rem;
    .rl{
    p{
    font-size:.18rem;
    font-weight:bold;
    }
    span{
    color:#bdbdbd;
    }
    }
    .rr{
    img{
    @include num(.5rem,auto);
    }
    }
    }
    }
    }
    .content3{
    margin-top:.1rem;
    ul{
    display:flex;
    @include num(100%,auto);
    justify-content:space-between;
    li{
    @include num(23%,auto);
    text-align:center;
    img{
    @include num(60%,auto);
    display:block;
    margin:0 auto;
    }
    }
    }
    }
}