@charset "UTF-8";
@import url(../iconfont/iconfont.css);
/*
* @Author: Marte
* @Date:   2018-02-10 18:54:48
* @Last Modified by:   Marte
* @Last Modified time: 2018-02-10 20:35:06
*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: .14rem;
  box-sizing: border-box; }

html {
  height: 100%;
  width: 100%;
  font-size: 100px;
  font-family: "华文行楷"; }

body {
  height: 100%;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
  touch-callout: none;
  -webkit-touch-callout: none; }

a {
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

@font-face {
  font-family: "iconfont";
  src: url(../iconfont/iconfont.svg);
  src: url(../iconfont/iconfont.woff);
  src: url(../iconfont/iconfont.ttf);
  src: url(../iconfont/iconfont.eot); }
.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

header {
  width: 100%;
  height: 0.45rem;
  background: #3477df; }
  header ul {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 .1rem;
    align-items: center; }
    header ul li {
      width: 20%;
      height: auto;
      text-align: center; }
      header ul li a {
        font-size: .18rem;
        font-weight: bold;
        color: white;
        line-height: .45rem; }

section {
  flex: 1;
  overflow: hidden;
  overflow-y: scroll;
  background: #fff; }
  section .banner {
    position: relative; }
    section .banner img {
      width: 100%;
      height: auto; }
    section .banner form {
      position: absolute;
      left: 0;
      bottom: -.2rem;
      width: 90%;
      height: 0.45rem;
      margin-left: 5%;
      background: pink;
      border-radius: .6rem;
      border: .01rem solid #cee2e9;
      overflow: hidden;
      display: flex; }
      section .banner form input[type=text] {
        flex: 1;
        padding-left: .1rem;
        padding-right: .4rem;
        background: #fff url(../images/xiangji_03.jpg) no-repeat right center;
        background-size: .3rem;
        border: 0;
        outline: none; }
        section .banner form input[type=text]:-webkit-input-placeholder {
          color: #b2b2b2; }
      section .banner form input[type=submit] {
        width: 0.5rem;
        height: 0.45rem;
        border: 0;
        outline: none;
        background: #4d8dee url(../images/sou_03.jpg) no-repeat center center;
        background-size: .2rem; }
  section .nav1 {
    margin-top: .2rem;
    padding: 0 .1rem; }
    section .nav1 ul {
      width: 100%;
      height: 0.45rem;
      display: flex;
      justify-content: space-between; }
      section .nav1 ul li {
        width: 25%;
        height: auto;
        text-align: center;
        line-height: .45rem;
        border-bottom: .02rem solid #f1f1f1; }
        section .nav1 ul li:hover {
          border-bottom: .02rem solid #418bec; }
        section .nav1 ul li:hover a {
          color: #418bec; }
        section .nav1 ul li a {
          color: black;
          font-size: .16rem; }
  section .nav2 ul {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: .05rem .1rem;
    align-items: center; }
    section .nav2 ul li {
      width: 20%;
      height: auto;
      text-align: center;
      padding: .05rem 0; }
      section .nav2 ul li img {
        width: 90%;
        height: auto;
        display: block;
        margin: 0 auto; }
  section .content1 {
    width: 100%;
    height: auto;
    margin-top: .05rem;
    position: relative; }
    section .content1 ul {
      width: 300%;
      height: auto;
      display: flex;
      overflow: hidden;
      justify-content: space-between; }
      section .content1 ul li {
        width: 33.3%;
        height: auto; }
        section .content1 ul li img {
          width: 100%;
          height: auto; }
    section .content1 ol {
      width: 0.5rem;
      height: 0.1rem;
      position: absolute;
      left: 50%;
      margin-left: -.25rem;
      bottom: .05rem;
      display: flex;
      justify-content: space-between; }
      section .content1 ol li {
        width: 0.1rem;
        height: 0.1rem;
        border-radius: .5rem;
        background: #494949; }
        section .content1 ol li:hover {
          background: red; }
    section .content1 .aa {
      width: 100%;
      height: auto;
      background: rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 0;
      left: 0;
      padding: .05rem; }
      section .content1 .aa h1 {
        font-size: .18rem;
        color: white; }
      section .content1 .aa h4 {
        color: white; }
  section .content2 {
    margin-top: .1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto; }
    section .content2 .left {
      width: 50%;
      height: auto;
      text-align: center;
      border-bottom: .01rem solid #ccc; }
      section .content2 .left p {
        font-weight: bold;
        font-size: .16rem;
        height: .2rem;
        line-height: .2rem; }
      section .content2 .left span {
        display: block;
        color: #969696;
        height: .2rem;
        line-height: .2rem; }
      section .content2 .left img {
        width: 70%;
        height: auto;
        margin-top: .1rem; }
    section .content2 .right {
      width: 50%;
      height: auto; }
      section .content2 .right .r_top {
        width: 100%;
        height: 50%;
        border-left: .01rem solid #ccc;
        border-bottom: .01rem solid #ccc;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 .1rem; }
        section .content2 .right .r_top .rl p {
          font-size: .18rem;
          font-weight: bold; }
        section .content2 .right .r_top .rl span {
          color: #bdbdbd; }
        section .content2 .right .r_top .rr img {
          width: 0.5rem;
          height: auto; }
  section .content3 {
    margin-top: .1rem; }
    section .content3 ul {
      display: flex;
      width: 100%;
      height: auto;
      justify-content: space-between; }
      section .content3 ul li {
        width: 23%;
        height: auto;
        text-align: center; }
        section .content3 ul li img {
          width: 60%;
          height: auto;
          display: block;
          margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
