@import "_mixin.scss";
@import "common.scss";
* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

.ninewrap {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include direction(column);
    overflow: hidden;
}

.nine_head {
    width: 100%;
    height: pxTorem(45px);
    background: pink;
    @include flex_shrink(0);
    text-align: center;
    line-height: pxTorem(45px);
}

.nine_sec {
    flex: 1;
    overflow-y: scroll;
    .change {
        width: 100%;
        @include box_flex;
        height: pxTorem(45px);
        @include align(center);
        li {
            margin: 0 pxTorem(10px);
        }
    }
    .nine_con {
        ol {
            width: 100%;
            @include box_flex;
            height: pxTorem(45px);
            @include align(center);
            li {
                margin: 0 pxTorem(10px);
                border: pxTorem(1px) solid #ccc;
                padding: pxTorem(5px);
                border-radius: pxTorem(5px);
            }
        }
    }
    .icon_head {
        position: relative;
        .nav {
            height: pxTorem(45px);
            line-height: pxTorem(45px);
            @include box_flex;
            padding: 0 pxTorem(10px);
            p {
                padding: pxTorem(5px);
                color: #999;
            }
        }
        .icon_content {
            position: absolute;
            left: 0;
            top: pxTorem(45px);
            width: 100%;
            background: #fff;
            h4 {
                height: pxTorem(40px);
                padding: 0 pxTorem(10px);
                line-height: pxTorem(40px);
                border-bottom: pxTorem(0.5px) solid #ccc;
            }
        }
    }
    .icon_con {
        width: 100%;
        li {
            padding: pxTorem(10px);
            border-bottom: pxTorem(1px) solid #ccc;
            h2,
            p {
                height: pxTorem(30px);
                line-height: pxTorem(30px);
            }
            h3 {
                @include box_flex;
                @include align(center);
                img {
                    width: pxTorem(30px);
                }
            }
        }
    }
}