/*
* @Author: Marte
* @Date:   2018-01-18 08:40:42
* @Last Modified by:   Marte
* @Last Modified time: 2018-01-18 09:43:05
*/
*{
    padding: 0;
    margin: 0;
    list-style:none;
    text-decoration: none;
}
.box{
width: 1154px;
height: 445px;
box-shadow:8px 8px 15px #d8d9db;
margin:0 auto;
}
.left{
    width: 216px;
    height: 445px;
    background:#2b343b;
    float: left;
    border-radius: 10px 0 0 10px;

}
.left ul li{
    height: 60px;
    line-height:60px;
    font-size: 16px;
    letter-spacing: 3px;
    margin-left: 12px;
}
.left ul li:nth-child(1){
margin-top: 10px;
}
.left ul li a{
    color:#6c7177;
    padding-left: 10px;
}
.left ul li:hover{
    background:#6c7177;
    border-radius:10px 0 0 10px;


}
.left ul li:hover a{
    color:white;
}
.left ul li span{
    float: right;
    margin-right: 10px;
    color:#6c7177
}
.right{
    float:left;
    width: 938px;
    height: 445px;
    background:white;
    border-radius:0 10px 10px 0;
    overflow:hidden;
}
 .top{
    height: 317px;
    width: 938px;

    overflow: hidden;
    position:relative;


}
.top ol{

    position: absolute;
    bottom:21px;
    right:23px;
    width: 100px;
    height: 15px;
}
.top ol li{
    width: 10px;
    height: 10px;
    border-radius:50px;
    border:1px solid white;
    background:black;
    float: left;
    margin-left: 5px;
}
.top ul{
    overflow:hidden;
    height:317px;
}
.top ol li a:hover{
   height:10px;
    display: block;
}
.top ol li:hover{
background:white;
}
.top span{
    width: 15px;
    height: 14px;
    display: inline-block;

    position: absolute;
    top:35%;
    color:#b1b6dc;
}
.top span:nth-of-type(1){
    position:absolute;
    top:45%;
    left:20px;
}
.top span:nth-of-type(2){
    position:absolute;
    top:45%;
    right:20px;
}
.bottom{
    width: 938px;
    height: 131px;

}
.bottom dl{
margin:0 0 0 43px;
width: 142px;
float: left;
}
.bottom dl dt{
    width: 30px;
    height: 30px;
    background:url(../images/spri_03.jpg);
background-position:-2px 0;


    margin-left: 50px;
    margin-top: 26px;

}
.bottom dl dd{
    width: 142px;
    line-height:25px;
    text-align:center;
    }
.bottom dl dd:nth-of-type(1){
   margin-top: 10px;
}
.bottom dl dd:nth-of-type(2){
    font-size:12px;
    color:#94999f;
}
.bottom dl:nth-child(2) dt{

    background-position:-182px 0;

}
.bottom dl:nth-child(3) dt{

    background-position:-361px 0;

}
.bottom dl:nth-child(4) dt{

    background-position:-541px 0;

}
.bottom dl:nth-child(5) dt{

    background-position:-721px 0;

}