@charset "UTF-8";
@import url(../fonts/iconfont.css);
/*
* @Author: Marte
* @Date:   2018-03-06 13:45:30
* @Last Modified by:   Marte
* @Last Modified time: 2018-03-06 16:11:39
*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: .14rem;
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%;
  min-width: 320px;
  font-size: 100px; }

body {
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  touch-callout: none;
  -webkit-touch-callout: none; }

a {
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

@font-face {
  font-family: "iconfont";
  src: url(../iconfont/iconfont.svg);
  src: url(../iconfont/iconfont.woff);
  src: url(../iconfont/iconfont.ttf);
  src: url(../iconfont/iconfont.eot); }
.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #f2f2f2; }

header {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, black, transparent);
  width: 100%;
  height: 0.45rem;
  padding: 0 .1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header span.iconfont {
    font-size: .2rem;
    color: #fff; }
  header span {
    color: #fff;
    font-size: .16rem; }
  header form {
    flex: 1;
    margin: 0 .1rem;
    position: relative;
    border: .01rem solid #ccc; }
    header form i.iconfont {
      position: absolute;
      left: .05rem;
      top: .08rem;
      color: #a6a6a6; }
    header form input {
      width: 100%;
      height: 0.35rem;
      padding: 0 .2rem;
      background: #fff;
      outline: none;
      border: 0; }
      header form input::-webkit-input-placeholder {
        color: #a6a6a6; }

section {
  flex: 1;
  background: #f2f2f2;
  overflow: hidden;
  overflow-y: scroll; }
  section .banner {
    width: 100%;
    height: auto;
    position: relative; }
    section .banner img {
      width: 100%;
      height: auto;
      display: block; }
    section .banner ol {
      width: 1rem;
      height: 0.1rem;
      position: absolute;
      bottom: .1rem;
      right: .1rem;
      display: flex;
      justify-content: space-between; }
      section .banner ol li {
        width: 0.1rem;
        height: 0.1rem;
        border: .01rem solid #fff;
        border-radius: .5rem; }
        section .banner ol li:hover {
          background: #fff; }
  section .nav {
    width: 100%;
    height: auto;
    background: #fff;
    padding: .1rem 0; }
    section .nav ul {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      section .nav ul li {
        width: 20%;
        height: auto;
        text-align: center; }
        section .nav ul li img {
          width: 0.5rem;
          height: auto;
          display: block;
          margin: 0 auto;
          padding: .1rem 0; }
        section .nav ul li span {
          font-size: .12rem; }
  section h2 {
    font-size: .16rem;
    color: #0b9e8b;
    display: flex;
    width: 100%;
    height: 0.45rem;
    justify-content: center;
    align-items: center; }
    section h2 img {
      width: 0.4rem;
      height: auto;
      margin: 0 .05rem; }
  section .choose {
    width: 100%;
    height: auto;
    background: #fff; }
    section .choose ul {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      section .choose ul li {
        width: 25%;
        height: auto;
        text-align: center;
        border: .01rem solid #ccc; }
        section .choose ul li h3 {
          font-size: .14rem;
          line-height: .3rem;
          height: .3rem; }
        section .choose ul li p {
          font-size: .12rem;
          color: #b9b9b9; }
        section .choose ul li img {
          width: 0.5rem;
          height: auto;
          align-self: flex-end; }
  section .subbanner {
    width: 100%;
    height: auto;
    margin-top: .1rem;
    position: relative; }
    section .subbanner img {
      width: 100%;
      height: auto;
      display: block; }
    section .subbanner ol {
      width: 1rem;
      height: 0.1rem;
      position: absolute;
      bottom: .02rem;
      left: 50%;
      margin-left: -.5rem;
      display: flex;
      justify-content: space-between; }
      section .subbanner ol li {
        width: 0.3rem;
        height: 0.05rem;
        background: #df8d93; }
        section .subbanner ol li:hover {
          background: #fff; }
  section .price {
    width: 100%;
    height: auto;
    position: relative;
    padding: .1rem 0 .2rem 0;
    background: #fff; }
    section .price ul {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 .1rem; }
      section .price ul li {
        width: 31%;
        height: auto;
        text-align: center; }
        section .price ul li .pic {
          width: 100%;
          height: auto;
          position: relative;
          border: .01rem solid #ccc; }
          section .price ul li .pic img {
            width: 0.3rem;
            height: auto; }
          section .price ul li .pic span {
            position: absolute;
            right: 0;
            bottom: 0;
            background: #a1a1a1;
            color: #fff;
            font-size: .12rem; }
        section .price ul li p {
          font-size: .12rem;
          padding: .05rem 0 0 0;
          text-align: left; }
          section .price ul li p i {
            font-style: normal;
            background: #ff0231;
            color: #fff;
            border-radius: .05rem;
            width: 0.16rem;
            height: 0.16rem;
            text-align: center;
            line-height: .16rem;
            font-size: .12rem;
            display: inline-block;
            margin-right: .03rem; }
        section .price ul li h4 {
          font-weight: normal;
          text-align: left; }
          section .price ul li h4 span {
            color: #fc264c;
            font-size: .12rem; }
            section .price ul li h4 span:nth-child(2) {
              color: #b3b3b3;
              text-decoration: line-through; }
    section .price ol {
      width: 1rem;
      height: 0.1rem;
      position: absolute;
      bottom: .1rem;
      left: 50%;
      margin-left: -.5rem;
      display: flex;
      justify-content: space-between; }
      section .price ol li {
        width: 0.1rem;
        height: 0.1rem;
        border-radius: .5rem;
        border: .01rem solid #ccc; }
        section .price ol li:hover {
          background: #ccc; }
  section .hot {
    width: 100%;
    height: auto; }
    section .hot ul {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #fff; }
      section .hot ul li {
        display: flex;
        justify-content: space-between;
        border: .01rem solid #ccc;
        width: 50%;
        height: auto; }
        section .hot ul li img {
          width: 0.5rem;
          height: auto; }
        section .hot ul li .left {
          display: flex;
          flex-direction: column;
          padding: .1rem 0 0 .1rem; }
          section .hot ul li .left h3 {
            font-weight: normal; }
          section .hot ul li .left p {
            color: #9c9c9c;
            font-size: .12rem; }
    section .hot ol {
      width: 100%;
      height: auto;
      background: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      section .hot ol li {
        width: 25%;
        height: auto;
        text-align: center;
        border: .01rem solid #ccc; }
        section .hot ol li img {
          width: 0.3rem;
          height: auto; }
        section .hot ol li h3 {
          font-weight: normal; }
        section .hot ol li p {
          color: #9c9c9c;
          font-size: .12rem; }
  section .list {
    width: 100%;
    height: auto; }
    section .list ul {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      section .list ul li {
        width: 21%;
        height: auto;
        background: #fff;
        border-radius: .05rem;
        line-height: .3rem;
        text-align: center;
        margin: .05rem;
        font-size: .12rem; }
  section .guess {
    width: 100%;
    height: auto;
    background: #fff; }
    section .guess ul {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between; }
      section .guess ul li {
        width: 50%;
        height: auto;
        border: .01rem solid #ccc; }
        section .guess ul li .pict {
          width: 100%;
          height: auto; }
          section .guess ul li .pict img {
            width: 100%;
            height: auto; }
        section .guess ul li h5 {
          font-weight: normal;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          word-break: break-all;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: .14rem;
          padding: .03rem; }
        section .guess ul li p {
          display: flex;
          justify-content: space-between;
          padding: 0 .1rem;
          align-items: center;
          height: .5rem;
          line-height: .8rem;
          border-bottom: .01rem dashed #c3c3c3; }
          section .guess ul li p img {
            width: 0.2rem;
            height: auto; }
        section .guess ul li h6 {
          color: #929292;
          font-size: .12rem;
          padding: .05rem; }
  section .fixed h4 {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: .2rem;
    font-weight: normal;
    color: #fff;
    font-size: .4rem;
    line-height: .6rem;
    font-family: "楷体";
    text-align: center;
    background: linear-gradient(to right, #ff8b04, #ff5d08);
    position: fixed;
    top: 40%;
    right: 0; }
  section .fixed h3 {
    width: 0.6rem;
    height: 0.2rem;
    line-height: .2rem;
    text-align: center;
    border-radius: .2rem;
    font-size: .12rem;
    font-weight: normal;
    color: #fff;
    background: linear-gradient(to right, #ff8b04, #ff5d08);
    position: fixed;
    top: 52%;
    right: 0; }

/*# sourceMappingURL=style.css.map */
