
/*
* @Author: Marte
* @Date:   2018-01-31 08:38:21
* @Last Modified by:   Marte
* @Last Modified time: 2018-01-31 18:27:06
*/

*{
    padding:0;
    margin:0;
    text-decoration:none;
    list-style:none;
    font-size:14px;
}
html,body{
    font-size:100px;
    width:100%;
    height:100%;
}
@mixin num($w,$h){
    width:$w;
    height:$h;
}
.box{
@include num(100%,5.48rem);
background:#adc3b6;

}
.computer{
    animation:computer 1s;
}