@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #333;
  font-size: .14rem;
  box-sizing: border-box; }

html {
  font-size: 100px; }

body {
  user-select: none;
  -webkit-user-select: none;
  touch-callout: none;
  -webkit-touch-callout: none; }


a {
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }
@mixin num($w,$h){
	width:$w;
	height:$h;
}
@mixin cir($w){
	width:$w;
	height:$w;
	border-radius:50%;
	display:inline-block;
}
%text{
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
@mixin text($n){
	display:-webkit-box;
	-webkit-box-orient:vertical;
	word-break:break-all;
	-webkit-line-clamp:$n;
	overflow:hidden;
	text-overflow:ellipsis;
}
html,body,.wrap{
	@include num(100%,100%);
}
.wrap{
	display:flex;
	flex-direction:column;
	overflow:hidden;
}
header{
	@include num(100%,.5rem);
	padding:0 .2rem;
	display:flex;
	justify-content:space-between;
	align-items:center;
	a{
	color:#333;
	i.icon{
	font-size:.24rem;
	color:#333;
	vertical-align:middle;
	}
	i.icon-angle-down{
	font-size:.16rem;
	}
	span{
	color:#D43287;
	font-size:.16rem;
	padding:0 .06rem;
	}
	}
}
section{
	flex:1;
	overflow-y:scroll;
}
.search{
	@include num(100%,auto);
	padding:0 .2rem;
	label{
	@include num(100%,auto);
	position:relative;
	input{
	@include num(100%,.36rem);
	background:#F3F4F6;
	padding-left:.26rem;
	border:1px solid #ccc;
	border-radius:.04rem;	
	&::-webkit--input-placeholder{
	color:#CECFD3;
	}
	}
	i.icon{
	position:absolute;
	left:.12rem;
	top:.04rem;
	font-size:.16rem;
	color:#CECFD3;
	}
	}
}
.banner{
	@include num(100%,auto);
	margin-top:.1rem;
	position:relative;
	img{
	@include num(100%,auto);
	display:block;
	}
	ol{
	@include num(100%,auto);
	padding:0 .1rem;
	position:absolute;
	left:0;
	bottom:.03rem;
	display:flex;
	justify-content:flex-end;
	align-items:center;
	li{
	@include cir(.1rem);
	border:1px solid #fff;
	background:rgba(2,2,2,.3);
	margin:0 .03rem;
	&:hover{
	background:#000;
	cursor:pointer;
	}
	}
	}
}
.HotSearch{
	@include num(90%,auto);
	margin:.05rem auto .1rem;
	label{
	@include num(100%,auto);
	position:relative;
	input{
	@include num(100%,.3rem);
	background:#F3F4F6;
	padding-left:.26rem;
	padding-right:.5rem;
	border:1px solid #ccc;
	border-radius:.15rem;	
	&::-webkit--input-placeholder{
	color:#CECFD3;
	}
	}
	i.icon{
	position:absolute;
	left:.12rem;
	top:.04rem;
	font-size:.16rem;
	color:#CECFD3;
	}
	a{
	position:absolute;
	right:0;
	top:0;
	color:#D43287;
	padding:0 .14rem;
	border-left:1px solid #ccc;
	}
	}
}
.title{
	@include num(100%,auto);
	padding:.1rem 0;
	text-align:center;
	color:#222;
	font-weight:800;
	font-size:.16rem;
	img{
	@include num(.4rem,auto);
	vertical-align:middle;
	margin:0 .05rem;
	}
}
.juan{
	@include num(100%,auto);
	padding:0 .1rem;
	display:flex;
	justify-content:space-between;
	align-items:center;
	img{
	@include num(48%,auto);
	}
}
.tit{
	@include num(100%,auto);
	padding:.1rem 0;
	color:#222;
	font-size:.16rem;
	text-align:center;
}