* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #333;
  font-size: .14rem;
  box-sizing: border-box; }

html {
  font-size: 100px; }

body {
  user-select: none;
  -webkit-user-select: none;
  touch-callout: none;
  -webkit-touch-callout: none; }

a {
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

html, body, .wrap {
  width: 100%;
  height: 100%; }

.wrap {
  display: flex;
  flex-direction: column;
  overflow: hidden; }

header {
  width: 100%;
  height: 0.5rem;
  padding: 0 .2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header a {
    color: #333; }
    header a i.icon {
      font-size: .24rem;
      color: #333;
      vertical-align: middle; }
    header a i.icon-angle-down {
      font-size: .16rem; }
    header a span {
      color: #D43287;
      font-size: .16rem;
      padding: 0 .06rem; }

section {
  flex: 1;
  overflow-y: scroll; }

.search {
  width: 100%;
  height: auto;
  padding: 0 .2rem; }
  .search label {
    width: 100%;
    height: auto;
    position: relative; }
    .search label input {
      width: 100%;
      height: 0.36rem;
      background: #F3F4F6;
      padding-left: .26rem;
      border: 1px solid #ccc;
      border-radius: .04rem; }
      .search label input::-webkit--input-placeholder {
        color: #CECFD3; }
    .search label i.icon {
      position: absolute;
      left: .12rem;
      top: .04rem;
      font-size: .16rem;
      color: #CECFD3; }

.banner {
  width: 100%;
  height: auto;
  margin-top: .1rem;
  position: relative; }
  .banner img {
    width: 100%;
    height: auto;
    display: block; }
  .banner ol {
    width: 100%;
    height: auto;
    padding: 0 .1rem;
    position: absolute;
    left: 0;
    bottom: .03rem;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .banner ol li {
      width: 0.1rem;
      height: 0.1rem;
      border-radius: 50%;
      display: inline-block;
      border: 1px solid #fff;
      background: rgba(2, 2, 2, 0.3);
      margin: 0 .03rem; }
      .banner ol li:hover {
        background: #000;
        cursor: pointer; }

.HotSearch {
  width: 90%;
  height: auto;
  margin: .05rem auto .1rem; }
  .HotSearch label {
    width: 100%;
    height: auto;
    position: relative; }
    .HotSearch label input {
      width: 100%;
      height: 0.3rem;
      background: #F3F4F6;
      padding-left: .26rem;
      padding-right: .5rem;
      border: 1px solid #ccc;
      border-radius: .15rem; }
      .HotSearch label input::-webkit--input-placeholder {
        color: #CECFD3; }
    .HotSearch label i.icon {
      position: absolute;
      left: .12rem;
      top: .04rem;
      font-size: .16rem;
      color: #CECFD3; }
    .HotSearch label a {
      position: absolute;
      right: 0;
      top: 0;
      color: #D43287;
      padding: 0 .14rem;
      border-left: 1px solid #ccc; }

.title {
  width: 100%;
  height: auto;
  padding: .1rem 0;
  text-align: center;
  color: #222;
  font-weight: 800;
  font-size: .16rem; }
  .title img {
    width: 0.4rem;
    height: auto;
    vertical-align: middle;
    margin: 0 .05rem; }

.juan {
  width: 100%;
  height: auto;
  padding: 0 .1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .juan img {
    width: 48%;
    height: auto; }

.tit {
  width: 100%;
  height: auto;
  padding: .1rem 0;
  color: #222;
  font-size: .16rem;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
