@charset "UTF-8";
@import "../iconfont/iconfont.css";
/*
* @Author: Marte
* @Date:   2018-02-01 08:37:56
* @Last Modified by:   Marte
* @Last Modified time: 2018-02-01 16:24:46
*/
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: .14rem;
  box-sizing: border-box; }

html {
width:100%;
height:100%;
  font-size: 100px; }

body {
width:100%;
height:100%;
  user-select: none;
  -webkit-user-select: none;
  touch-callout: none;
  -webkit-touch-callout: none; }


a {
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

@mixin num($w,$h){
    width:$w;
    height:$h;
}
@mixin cir($w){
    width:$w;
    height:$w;
    border-radius:50%;
    display:inline-block;
}
%text{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
@mixin text($n){
    display:-webkit-box;
    -webkit-box-orient:vertical;
    word-break:break-all;
    -webkit-line-clamp:$n;
    overflow:hidden;
    text-overflow:ellipsis;
}
@font-face{
    font-family:"iconfont";
    src:url(../iconfont/iconfont.svg);
    src:url(../iconfont/iconfont.woff);
    src:url(../iconfont/iconfont.ttf);
    src:url(../iconfont/iconfont.eot);
}
.box{
    @include num(100%,100%);
    background:#f6f6f6;
    display:flex;
    flex-direction:column;
}
header{
   @include num(100%,.45rem);
   padding:0 .1rem;
   background:#f6f6f6;
   display:flex;
   align-items:center;
   span{
   img{
   width:.3rem;
   }

   padding-right:.05rem;
   }
   form{
   position:relative;

   flex:1;
   height:.35rem;
   span{
   position:absolute;
   top:.05rem;
   left:.06rem;
   }
   input{

   @include num(100%,.35rem);
   border-radius:.04rem;
   border:.01rem solid #e0e0e0;
   outline:none;
   &::-webkit-input-placeholder{
color:#ababab;
text-align:center;
   }
   }
   i.iconfont{
   position:absolute;
   left:50%;
   margin-left:-.95rem;
   top:.08rem;
   color:#ababab;
   }
   }

}
section{
    flex:1;
    background:#f6f6f6;
    nav{
    position:relative;
    ul{
    padding:0 0 .2rem 0;
    background:white;
    @include num(100%,auto);
    display:flex;
    flex-wrap:wrap;
    li{
    @include num(20%,auto);
    text-align:center;
    i.iconfont{
    display:block;
    font-size:.5rem;
    text-align:center;
    }
    }
    }
    ol{
    @include num(10%,.15rem);
    //background:pink;
    position:absolute;
    bottom:.05rem;
    left:50%;
    margin-left:-5%;
    li{

    @include cir(.1rem);
    background:#9e9e9e;
    &:hover{
    background:red;
    }
    &:nth-child(1){
    margin-left:.05rem;
    }
    }
    }
    }
    .content{
    margin-top:.1rem;
    @include num(100%,auto);
    display:flex;
    background:white;
    .left{
    @include num(50%,auto);
    //background:red;
    text-align:right;
    border-right:.01rem solid #f3f3f3;
    h2{
    line-height:.25rem;
    font-size:.16rem;
    text-align:left;
    margin-left:.05rem;
    margin-top:.12rem;
    }
    p{
    font-size:.12rem;
    margin-left:.05rem;
    line-height:.25rem;
    text-align:left;
    color:#ababab;
    }
    img{
    @include num(40%,auto);
    //text-align:right;
    margin-right:.3rem;
    }
    }
    .right{
    @include num(50%,auto);
    //background:blue;
    .top{
    @include num(auto,50%);
    //background:red;
    display:flex;
    align-items:center;
    justify-content:space-between;
    border-bottom:.01rem solid #f3f3f3;
    padding:0 .3rem;
    label{
    p{
    color:#ababab;
    }
    }
    img{
    @include num(40%,auto);
    }

    }
    .bottom{
    @include num(auto,50%);
    //background:yellow;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 .3rem;
    label{
    p{
    color:#ababab;
    }
    }
    img{
    @include num(40%,auto);
    }
    }
    }
    }
}