@import url(../iconfont/iconfont.css);
/*
* @Author: Marte
* @Date:   2018-02-01 08:37:56
* @Last Modified by:   Marte
* @Last Modified time: 2018-02-01 16:24:46
*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: .14rem;
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%;
  font-size: 100px; }

body {
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  touch-callout: none;
  -webkit-touch-callout: none; }

a {
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

@font-face {
  font-family: "iconfont";
  src: url(../iconfont/iconfont.svg);
  src: url(../iconfont/iconfont.woff);
  src: url(../iconfont/iconfont.ttf);
  src: url(../iconfont/iconfont.eot); }
.box {
  width: 100%;
  height: 100%;
  background: #f6f6f6;
  display: flex;
  flex-direction: column; }

header {
  width: 100%;
  height: 0.45rem;
  padding: 0 .1rem;
  background: #f6f6f6;
  display: flex;
  align-items: center; }
  header span {
    padding-right: .05rem; }
    header span img {
      width: .3rem; }
  header form {
    position: relative;
    flex: 1;
    height: .35rem; }
    header form span {
      position: absolute;
      top: .05rem;
      left: .06rem; }
    header form input {
      width: 100%;
      height: 0.35rem;
      border-radius: .04rem;
      border: .01rem solid #e0e0e0;
      outline: none; }
      header form input::-webkit-input-placeholder {
        color: #ababab;
        text-align: center; }
    header form i.iconfont {
      position: absolute;
      left: 50%;
      margin-left: -.95rem;
      top: .08rem;
      color: #ababab; }

section {
  flex: 1;
  background: #f6f6f6; }
  section nav {
    position: relative; }
    section nav ul {
      padding: 0 0 .2rem 0;
      background: white;
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap; }
      section nav ul li {
        width: 20%;
        height: auto;
        text-align: center; }
        section nav ul li i.iconfont {
          display: block;
          font-size: .5rem;
          text-align: center; }
    section nav ol {
      width: 10%;
      height: 0.15rem;
      position: absolute;
      bottom: .05rem;
      left: 50%;
      margin-left: -5%; }
      section nav ol li {
        width: 0.1rem;
        height: 0.1rem;
        border-radius: 50%;
        display: inline-block;
        background: #9e9e9e; }
        section nav ol li:hover {
          background: red; }
        section nav ol li:nth-child(1) {
          margin-left: .05rem; }
  section .content {
    margin-top: .1rem;
    width: 100%;
    height: auto;
    display: flex;
    background: white; }
    section .content .left {
      width: 50%;
      height: auto;
      text-align: right;
      border-right: .01rem solid #f3f3f3; }
      section .content .left h2 {
        line-height: .25rem;
        font-size: .16rem;
        text-align: left;
        margin-left: .05rem;
        margin-top: .12rem; }
      section .content .left p {
        font-size: .12rem;
        margin-left: .05rem;
        line-height: .25rem;
        text-align: left;
        color: #ababab; }
      section .content .left img {
        width: 40%;
        height: auto;
        margin-right: .3rem; }
    section .content .right {
      width: 50%;
      height: auto; }
      section .content .right .top {
        width: auto;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: .01rem solid #f3f3f3;
        padding: 0 .3rem; }
        section .content .right .top label p {
          color: #ababab; }
        section .content .right .top img {
          width: 40%;
          height: auto; }
      section .content .right .bottom {
        width: auto;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 .3rem; }
        section .content .right .bottom label p {
          color: #ababab; }
        section .content .right .bottom img {
          width: 40%;
          height: auto; }

/*# sourceMappingURL=style.css.map */
