@charset "UTF-8";
@import "../fonts/iconfont.css";
/*
* @Author: Marte
* @Date:   2018-02-27 08:58:49
* @Last Modified by:   Marte
* @Last Modified time: 2018-02-27 10:52:24
*/
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: .14rem;
  box-sizing: border-box; }

html {
width:100%;
height:100%;
min-width:320px;
  font-size: 100px; }

body {
width:100%;
height:100%;
  user-select: none;
  -webkit-user-select: none;
  touch-callout: none;
  -webkit-touch-callout: none; }


a {
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

@mixin num($w,$h){
    width:$w;
    height:$h;
}
@mixin cir($w){
    width:$w;
    height:$w;
    border-radius:50%;
    display:inline-block;
}
%text{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
@mixin text($n){
    display:-webkit-box;
    -webkit-box-orient:vertical;
    word-break:break-all;
    -webkit-line-clamp:$n;
    overflow:hidden;
    text-overflow:ellipsis;
}
@font-face{
    font-family:"iconfont";
    src:url(../iconfont/iconfont.svg);
    src:url(../iconfont/iconfont.woff);
    src:url(../iconfont/iconfont.ttf);
    src:url(../iconfont/iconfont.eot);
}
.wrap{
    @include num(100%,100%);
    display:flex;
    flex-direction:column;
}
header{
    @include num(100%,.45rem);
    flex-shrink:0;
    background:#fff;
    display:flex;
    padding:0 .1rem;
    align-items:center;
    form{
    margin:0 .1rem;
    flex:1;
    input{
    @include num(100%,.35rem);
    outline:none;
    border:0;
    background:#f7f7f7;
    border-radius:.05rem;
    text-align:center;
    }
    }
}
section{
    flex:1;
    background:#f1f1f1;
    .nav{
    @include num(100%,auto);
    background:#fff;
    ul{
    @include num(100%,auto);
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    padding:.1rem .1rem;
    li{
    @include num(20%,auto);
    text-align:center;
    padding:.05rem 0;
    img{
    @include num(60%,auto);
    display:block;
    margin:0 auto;
    }
    span{
    font-size:.12rem;
    height:.25rem;
    }
    }
    }
    ol{
    @include num(.3rem,.1rem);
    margin:0 auto;;
    justify-content:space-between;
    display:flex;
    li{
    @include cir(.1rem);
    background:#ccc;
    border-radius:50%;
    &:hover{
    background:#f9dd5b;
    }
    }
    }
    }
    .content1{
    margin-top:.1rem;
    .title{
    display:flex;
    justify-content:space-between;
    background:#fff;
    h2{
    display:flex;
    align-items:center;
    line-height:.3rem;
    background:linear-gradient(to right,#eb4a43,#ec6e93);
    border-radius:0 .05rem .2rem 0;
    img{
    @include num(.5rem,auto);
    }
    i{
    margin:0 .1rem;
    font-style:normal;
    font-weight:normal;
    color:#fff;
    }
    span{
    display:inline-block;
    @include num(.15rem,.15rem);
    text-align:center;
    line-height:.15rem;
    background:#fff;
    border-radius:.05rem;
    font-weight:normal;
    font-size:.12rem;
    margin:0 .05rem;
    color:#ed706b;
    }
    b{
    color:#fff;
    }
    }
    p{
    line-height:.3rem;
    padding-right:.1rem;
    color:#767676;
    }
    }
    .con{
    display:flex;
    justify-content:space-between;
    padding:0 .1rem;
    margin-top:.1rem;
    .left{
    @include num(70%,auto);
    margin-right:.1rem;

    .im{
    position:relative;
    @include num(100%,auto);
    img{
    @include num(100%,auto);
    display:block;
    }
    span{
    position:absolute;
    top:0;
    left:0;
    display:inline-block;
    @include num(.8rem,.25rem);
    text-align:center;
    line-height:.25rem;
    color:#fff;
    background:linear-gradient(to right,#eb4a43,#ec6e93);
    font-size:.12rem;
    border-radius:0 .05rem .2rem 0;
    }
    p{
    position:absolute;
    bottom:.05rem;
    left:0;
    color:#fff;
    line-height:.18rem;
    padding:0 .1rem;
    @include text(2){};
    }
    }
    .dallor{
    padding:.1rem .1rem;
    background:#fff;
    span{
    color:#eb483f;
    }
    i{
    font-style:normal;
    margin-left:.1rem;
    text-decoration:line-through;
    }
    }
    }
    .right{
    @include num(30%,auto);
    .ima{
    @include num(100%,auto);
    img{
    @include num(100%,auto);
    display:block;
    }
    }
    .an{
    @include num(100%,auto);
    background:#fff;
    display:flex;
    justify-content:center;
    padding:.08rem;
    button{
    @include num(60%,.3rem);
    background:#e65966;
    color:#fff;
    outline:none;
    border:0;
    text-align:center;
    border-radius:.05rem;
    }

    }
    }
    }
    }
}
footer{
    @include num(100%,.45rem);
    flex-shrink:0;
    ul{
    display:flex;
    justify-content:space-between;
    padding:0 .1rem;
    @include num(100%,auto);
    li{
    @include num(20%,auto);
    text-align:center;
    &:hover span,&:hover i.iconfont{
    font-weight:bold;
    }
    i.iconfont{
    display:block;
    font-size:.2rem;
    }
    span{
    font-size:.12rem;
    }
    }
    }
}