/*
* @Author: Marte
* @Date:   2017-12-29 08:41:19
* @Last Modified by:   Marte
* @Last Modified time: 2017-12-29 09:19:59
*/
*{font-size: 14px;
  margin:0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.box{width: 777px;
    height: 461px;
    margin: auto;
    border:1px solid #e2e2e2;
}
.cuo{
 height: 38px;


}
.head{
    width: 60px;
    height: 38px;
    float: right;

    color:gray;
    background:white;
}
.content{
width: 350px;
height: 310px;

margin:auto;
margin-top: 50px;

}
h2{
    font-size:25px;
    text-align: center;
}
h3{ font-size:18px;
    color:#666666;
    text-align:center;
    margin-top: 20px;
}
span{
    font-size:18px;
    color:#7481cf;
}
a{font-size:18px;}
.zhanghao{
width: 336px;
height: 49px;
border-radius: 8px;
margin-top: 30px;
border-color: gray;
}
.password{
width: 336px;
height: 49px;
border-radius: 8px;
margin-top: 23px;
border-color: gray;
}
.denglu{
 width: 336px;
height: 49px;
margin-top: 23px;
background:#86ce2f;
color:white;
font-size:20px;
font-weight: bold;
}
.footer{
height: 20px;
margin-top: 30px;

}
p{float:right;
color: #666666;
}