@charset "UTF-8";
/*
* @Author: Marte
* @Date:   2018-01-27 10:34:26
* @Last Modified by:   Marte
* @Last Modified time: 2018-01-29 08:20:50
*/

*{
    padding:0;
    margin:0;
    list-style:none;
    text-decoration:none;
    font-size:14px;
}
html,body{
width:100%;
height:100%;
font-size:100px;
//overflow:hidden;
font-family:"微软雅黑";
}
@mixin hf($bg){
    width:100%;
    height:.5rem;
    background:$bg;
}
.box{
    width:100%;
    height:100%;
@media screen and (min-width:320px) and (max-width:639px){

}
    overflow:hidden;
}
header{
    @include hf(-webkit-linear-gradient(left,#4e8dfe,#38bbff));
    padding:0 .1rem;

    a,h2{
    float:left;
    width:33.3%;
    color:white;
    }
    img{
    width:.4rem;
    height:.4rem;
    border-radius:50%;
    }
    h2{
    text-align:center;
    font-size:.25rem;
     line-height:.5rem;
    }
    a:first-child{
    margin-top:.06rem;
    }
    a:last-child{
    text-align:right;
    font-size:.25rem;
    line-height:.5rem;

    }

    }


section{
    height:calc(100% - 1rem);
    width:100%;
    overflow:hidden;
    overflow-y:scroll;
    input
    {
    width:98%;
    height:.25rem;
    text-align:center;
    background:#f3f3f3 url(../images/sou_03.jpg) no-repeat 45% center;;
    color:#afafaf;
    border-radius:.05rem;
    border:0;
    outline:none;
    margin-left:.15rem;
    margin-top:.1rem;
    }
    .big{
    width:100%;
    height:calc(100% - 1rem - .25rem);

    dl{
    height:.6rem;
    width:100%;
    margin-top:.1rem;
    border-bottom:.01rem solid #dedede;
    dt{
    float:left;
    img{
    width:.4rem;
    height:.4rem;
    border-radius:50%;
    padding-left:.1rem;
    margin-top:.1rem;
    }
    }
    dd{
    float:left;
    width:calc(100% - .8rem);
    line-height:.3rem;
    .left{
    float:left;
    padding-left:.1rem;
    h2{
    font-size:.2rem;
    }
    p{
    color:#8b8b8b;
    font-size:.16rem;
    }
    }
    .right{
    float:right;
    width:.3rem;
    span{
    display:inline-block;
    width:.26rem;
    height:.26rem;
    background:red;
    border-radius:50%;
    text-align:center;
    line-height:.26rem;
    margin-left:.1rem;
    }
    }
    }
    }
    }
}
footer{
@include hf(#f3f3f3);
dl{float:left;
width:33.3%;
text-align:center;
    dt img{
   width:.25rem;
   height:.25rem;
    }
}
    }
