@charset "UTF-8";
@import "../iconfont/iconfont.css";
/*
* @Author: Marte
* @Date:   2018-02-11 12:31:58
* @Last Modified by:   Marte
* @Last Modified time: 2018-02-11 17:17:38
*/
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: .14rem;
  box-sizing: border-box; }

html {
width:100%;
height:100%;
  font-size: 100px; }

body {
width:100%;
height:100%;
  user-select: none;
  -webkit-user-select: none;
  touch-callout: none;
  -webkit-touch-callout: none; }


a {
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

@mixin num($w,$h){
    width:$w;
    height:$h;
}
@mixin cir($w){
    width:$w;
    height:$w;
    border-radius:50%;
    display:inline-block;
}
%text{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
@mixin text($n){
    display:-webkit-box;
    -webkit-box-orient:vertical;
    word-break:break-all;
    -webkit-line-clamp:$n;
    overflow:hidden;
    text-overflow:ellipsis;
}
@font-face{
    font-family:"iconfont";
    src:url(../iconfont/iconfont.svg);
    src:url(../iconfont/iconfont.woff);
    src:url(../iconfont/iconfont.ttf);
    src:url(../iconfont/iconfont.eot);
}
.box{
    @include num(100%,100%);
    display:flex;
    flex-direction:column;
}
header{
@include num(100%,.9rem);
//background:red;
display:flex;
flex-shrink:0;
flex-direction:column;
form{
    //background:yellow;
    @include num(100%,.45rem);
    padding:.1rem 0;
    position:relative;
    span{
    position:absolute;
    top:.15rem;
    left:.1rem;
    }
    time{
    position:absolute;
    right:.15rem;
    top:.2rem;
    display:inline-block;
    border-radius:50%;
    border:.01rem solid black;
    @include num(.15rem,.15rem);
    font-size:.12rem;
    line-height:.15rem;
    text-align:center;
    }
    input{
    @include num(95%,.3rem);
    margin-left:2.5%;
    padding:0 .2rem;
    border-radius:.05rem;
    outline:none;
    border:0;
    background:#f1f1f1;
    }
}
.head{
    ul{
    @include num(100%,auto);
    display:flex;
    justify-content:space-between;
    padding:0 .1rem;
    align-itmes:center;
    line-height:.45rem;
    border-top:.01rem solid #ccc;
    li{
    @include num(20%,auto);
    text-align:center;
    &:hover{
    border-bottom:.02rem solid red;
    }
    &:hover a{
    color:red;
    }
    a{
    font-size:.16rem;
    color:black;
    }

    }
    }
}
}
section{
   flex:1;
   overflow:hidden;
   overflow-y:scroll;
   background:#f2f2f2;
   margin-top:.05rem;
   .content1{
   display:flex;
   background:#f2f2f2;
   margin-top:.05rem;
   justify-content:space-between;
   padding:0 .1rem;
   @include num(100%,auto);
   .left{
   @include num(1rem,auto);
   img{
   @include num(100%,auto);
   }
   }
   .right{
   flex:1;
   display:flex;
   justify-content:space-between;
   padding:0 .1rem;
   .aa{
   flex:1;
   }
   .bb{
   @include num(.5rem,auto);
   text-align:right;
   }
   }
   }
   .an{
   display:flex;
   justify-content:flex-end;
   border-top:.01rem solid #ccc;
   padding-top:.05rem;
   background:#fff;
   input{
   @include num(.7rem,.3rem);
   mrigin-right:.1rem;
   background:#fff;
   border:0;
   outlint:none;
   border:.01rem solid #ccc;
   }
   }
}
.mark{
    @include num(100%,100%);
    background:rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    left:0;
    .small{
    @include num(2rem,1.5rem);
    background:#fff;
    position:absolute;
    left:50%;
    top:50%;
    margin-top:-.75rem;
    margin-left:-1rem;
    form{
    display:flex;
    justify-content:space-between;
    padding:0 .3rem;
    input{
    background:#fff;
    border:.01rem solid #e72410;
    @include num(.6rem,.25rem);
    color:#e72410;
    border-radius:.05rem;
    &:hover{
    background:#e72410;
    color:#fff;
    outline:none;
    }
    }
    }
    }
}