@import url(../iconfont/iconfont.css);
/*
* @Author: Marte
* @Date:   2018-02-11 12:31:58
* @Last Modified by:   Marte
* @Last Modified time: 2018-02-11 17:17:38
*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: .14rem;
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%;
  font-size: 100px; }

body {
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  touch-callout: none;
  -webkit-touch-callout: none; }

a {
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

@font-face {
  font-family: "iconfont";
  src: url(../iconfont/iconfont.svg);
  src: url(../iconfont/iconfont.woff);
  src: url(../iconfont/iconfont.ttf);
  src: url(../iconfont/iconfont.eot); }
.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

header {
  width: 100%;
  height: 0.9rem;
  display: flex;
  flex-shrink: 0;
  flex-direction: column; }
  header form {
    width: 100%;
    height: 0.45rem;
    padding: .1rem 0;
    position: relative; }
    header form span {
      position: absolute;
      top: .15rem;
      left: .1rem; }
    header form time {
      position: absolute;
      right: .15rem;
      top: .2rem;
      display: inline-block;
      border-radius: 50%;
      border: .01rem solid black;
      width: 0.15rem;
      height: 0.15rem;
      font-size: .12rem;
      line-height: .15rem;
      text-align: center; }
    header form input {
      width: 95%;
      height: 0.3rem;
      margin-left: 2.5%;
      padding: 0 .2rem;
      border-radius: .05rem;
      outline: none;
      border: 0;
      background: #f1f1f1; }
  header .head ul {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 .1rem;
    align-itmes: center;
    line-height: .45rem;
    border-top: .01rem solid #ccc; }
    header .head ul li {
      width: 20%;
      height: auto;
      text-align: center; }
      header .head ul li:hover {
        border-bottom: .02rem solid red; }
      header .head ul li:hover a {
        color: red; }
      header .head ul li a {
        font-size: .16rem;
        color: black; }

section {
  flex: 1;
  overflow: hidden;
  overflow-y: scroll;
  background: #f2f2f2;
  margin-top: .05rem; }
  section .content1 {
    display: flex;
    background: #f2f2f2;
    margin-top: .05rem;
    justify-content: space-between;
    padding: 0 .1rem;
    width: 100%;
    height: auto; }
    section .content1 .left {
      width: 1rem;
      height: auto; }
      section .content1 .left img {
        width: 100%;
        height: auto; }
    section .content1 .right {
      flex: 1;
      display: flex;
      justify-content: space-between;
      padding: 0 .1rem; }
      section .content1 .right .aa {
        flex: 1; }
      section .content1 .right .bb {
        width: 0.5rem;
        height: auto;
        text-align: right; }
  section .an {
    display: flex;
    justify-content: flex-end;
    border-top: .01rem solid #ccc;
    padding-top: .05rem;
    background: #fff; }
    section .an input {
      width: 0.7rem;
      height: 0.3rem;
      mrigin-right: .1rem;
      background: #fff;
      border: 0;
      outlint: none;
      border: .01rem solid #ccc; }

.mark {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0; }
  .mark .small {
    width: 2rem;
    height: 1.5rem;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -.75rem;
    margin-left: -1rem; }
    .mark .small form {
      display: flex;
      justify-content: space-between;
      padding: 0 .3rem; }
      .mark .small form input {
        background: #fff;
        border: .01rem solid #e72410;
        width: 0.6rem;
        height: 0.25rem;
        color: #e72410;
        border-radius: .05rem; }
        .mark .small form input:hover {
          background: #e72410;
          color: #fff;
          outline: none; }

/*# sourceMappingURL=style.css.map */
