/*
* @Author: Marte
* @Date:   2018-01-04 19:13:11
* @Last Modified by:   Marte
* @Last Modified time: 2018-01-05 07:28:13
*/
*{
    list-style:none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
.bigbox{
width: 1366px;
height: 1251px;
background: white;
margin:0 auto;
}
.box{
width: 1186px;
height: 562px;
background:yellow;
margin:0 auto;
}
.head{
height: 141px;
background:red;
}
.head1{
    width: 456px;
    height: 118px;
    background:pink;
    float: left;
}
.head1 dt{
    float: left;
}
.head dd{
    float:right;

    width: 190px;
    margin-top: 50px;
    margin-right: 40px;
    line-height: 35px;

}

.head2{
    width: 622px;
    height: 115px;
    background:pink;
    float: left;
    margin-left: 106px;
}
.head .b1{
    margin-left: 420px;
    border-right: 1px solid black;
    padding:0 10px;
}

.head a{
color:black;
padding-left:10px;
}



.nav{

    height: 60px;
    background:#332c2b;
    margin-top: 30px;
}
.nav a{
    display:block;
    width: 77px;
    color:white;
    float:left;
    line-height:60px;
}
.nav a:hover{
    background:#652c89;
}

.content{
height: 401px;
background:red;
margin-top: 20px;
    position: relative;
}
.content img{
    float: right;
}
/* .content p{
    width: 7px;
    height: 7px;
    border:1px solid white;
    border-radius: 30px;
    background:white;

} */
.content ul{
    overflow: hidden;

    }
    .content ol{
    position: absolute;
    right:30px;
    bottom:13px;
}

/* .content ul li{
     width: 7px;
    height: 7px;
    border:1px solid white;
    border-radius: 30px;
    background:white;
} */

 .content ol li{
    width: 7px;
    height: 7px;
    border:1px solid white;
    border-radius: 30px;
    background:white;
    margin-top: 10px;

}
.content ol li>a{
    position: absolute;
    right:40px;
    bottom:13px;
}


 /* .content .d1{
   position: absolute;
    right:282px;
    bottom:32px;

 }
 .content .d2{
   position: absolute;
    right:266px;
    bottom:32px;
 }
 .content .d3{
   position: absolute;
    right:250px;
    bottom:32px; */

.center{
height: 109px;
width: 1366px;
/* background:red; */
margin-top: 10px;
border-top: 5px solid #d0d0d0;
position: relative;
}
.center .d4{
    position: absolute;
    top:-25px;
    left:650px;
    z-index: 99999999;
}
.center h3{
    text-align: center;
    margin-top: 40px;
    font-weight: normal;
}
.center p{
margin-left: 80px;
}
ccenter p span{
   display: block;
  padding-top: 30px;
   margin-left: 30px;
}
.d5{
    width: 69px;
    height: 27px;
    background:#8957a1;
    text-align:center;
    line-height:27px;
    border-radius:5px;
    color:white;
    position: absolute;
    right:165px;
    top:640px;
}
.footbox{
    width:1180px;
    height: 519px;
   /*  background:red; */

    margin:0 auto;
}
.foot1{
    width: 662px;
    height: 520px;
    /* background:green; */
    float:left;
}
.left{
    width: 152px;
    height: 520px;
    background:url(../images/bei1_03.jpg) no-repeat;
    float:left;

}
.left h3{
margin-top: 50px;
margin-left: 38px;
color:white;
}
.left h4{
margin-top:80px;
margin-left: 38px;
color:#a0a0a0;
}
.left h5{
margin-top: 40px;
margin-left: 0px;
color:#a0a0a0;
font-weight:bold;
border-bottom: 2px solid #a0a0a0;
text-align:center;
height: 25px;
}
.top{
    width: 501px;
    height: 304px;
    background:url(../images/opop_03.jpg) no-repeat;
    float:right;
    margin-top: -520px;
    margin-left: 10px;
    position: relative;
}
.top h3,.top p{
    color:white;
    margin-left: 15px;
}
.top h3{
    margin-top: 250px;
}
.top h3:after{
    content:"CDKWDC DEWFV";
    padding-left: 150px;
    font-weight:normal;
    font-size:14px;
}
.small1{
    width: 501px;
    height: 211px;
   /* background:pink; */
    float:right;
    margin-left: 1px;
    margin-top: -212px;
}
.foot2{
    width: 501px;
    height: 520px;
    /* background:green; */
    margin-left: 10px;
    float:left;
}
.f1{
    width: 501px;
    height: 287px;
    /* background:pink;*/
    }
.fl>dl{
    float:left;
    margin-left: 1px;
}
.f1 dl:nth-child(2){
    float:right;
    margin-top: -285px;
}
.f1 dl dd{
    width: 244px;
    line-height:35px;
    font-size:14px;
    color:#999999;

}
.f1 b{
 color:black;
 font-weight:bolder;
}
.f2{
    width: 501px;
    height: 210px;
    background:url(../images/shan_03.jpg) no-repeat;
    margin-top: 10px;
}
.f2 p{
    padding-top: 150px;
width: 244px;
    line-height:25px;
    font-size:14px;
    color:#999999;
}
.f2 b{

 color:white;
 font-weight:bolder;

}
.w1{
    float:right;
    margin-top: -210px;

}
.uu{
   position: absolute;
    bottom:-480px;
    right:180px;
}
.uu p{
    color:#999999;
}
.uu b{
    color:white;
}
