@charset "UTF-8";
@import "../fonts/iconfont.css";
/*
* @Author: Marte
* @Date:   2018-02-08 17:50:14
* @Last Modified by:   Marte
* @Last Modified time: 2018-03-02 15:59:09
*/

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: .14rem;
  box-sizing: border-box; }

html {
width:100%;
height:100%;
  font-size: 100px; }

body {
width:100%;
height:100%;
  user-select: none;
  -webkit-user-select: none;
  touch-callout: none;
  -webkit-touch-callout: none; }


a {
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

@mixin num($w,$h){
    width:$w;
    height:$h;
}
@mixin cir($w){
    width:$w;
    height:$w;
    border-radius:50%;
    display:inline-block;
}
%text{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
@mixin text($n){
    display:-webkit-box;
    -webkit-box-orient:vertical;
    word-break:break-all;
    -webkit-line-clamp:$n;
    overflow:hidden;
    text-overflow:ellipsis;
}
@font-face{
    font-family:"iconfont";
    src:url(../iconfont/iconfont.svg);
    src:url(../iconfont/iconfont.woff);
    src:url(../iconfont/iconfont.ttf);
    src:url(../iconfont/iconfont.eot);
}
.box{
    @include num(100%,100%);
    display:flex;
    flex-direction:column;
}
header{
    @include num(100%,.45rem);
    background:#2dbc53;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 .1rem;
    img{
    @include num(.3rem,auto);
    }
    form{
    flex:1;
    position:relative;
    input{
    @include num(100%,.35rem);
    padding-left:.2rem;
    border-radius:.05rem;
    border:0;
    outline:none;
    }
    em.iconfont{
    position:absolute;
    left:.02rem;
    top:.08rem;
    }
    }
    time.iconfont{
    margin:0 .1rem;
    font-size:.2rem;
    color:white;
    }
    span{
    color:#fff;
    i.iconfont{
    color:white;
    margin-right:.05rem;
    font-size:.12rem;
    }

    }
}

section{
    flex:1;
    overflow:hidden;
    overflow-y:scroll;
    background:#f1f1f1;
   .new{
   position:relative;
   @include num(100%,auto);
   ol{
   @include num(100%,auto);
   li{
   @include num(100%,auto);
   img{
   @include num(100%,auto);
   display:block;
   }
   }
   }
   ul{
   @include num(1rem,.1rem);
   position:absolute;
   bottom:.05rem;
   left:50%;
   margin-left:-.5rem;
   display:flex;
   justify-content:space-between;
   li{
   @include num(.2rem,.05rem);
   background:#cdbbaf;
   &:hover{
   background:#2bba50;
   }
   }
   }
   }
.wrap{
@include num(100%,auto);
padding:.03rem;
border-radius:.1rem;
overflow:hidden;
    .tab1{
    @include num(100%,auto);
    tr{
    @include num(100%,auto);
    background:#11be64;
    }
    td{
    @include num(33.3%,auto);
    //height:.4rem;
    border:.01rem solid #fff;
    text-align:center;
    line-height:.4rem;
    color:#fff;
    &:nth-child(1) img{
    @include num(100%,auto);
    }
    }
    }
    .tab2{
    @include num(100%,auto);
    border-top:.02rem solid #fff;
    tr{
    @include num(100%,auto);
    background:#4b93ff;
    }
    td{
    @include num(33.3%,auto);
    //height:.4rem;
    border:.01rem solid #fff;
    text-align:center;
    line-height:.4rem;
    color:#fff;
    &:nth-child(1) img{
    @include num(100%,auto);
    }
    }
    }
    .tab3{
    @include num(100%,auto);
    border-top:.03rem solid #fff;
    tr{
    @include num(100%,auto);
    background:#fe753f;
    }
    td{
    @include num(33.3%,auto);
    //height:.4rem;
    border:.01rem solid #fff;
    text-align:center;
    //line-height:.4rem;
    color:#fff;
    &:nth-child(1) img{
    @include num(100%,auto);
    }
    }
    }
    .tab4{
    @include num(100%,auto);
    border-top:.02rem solid #fff;
    tr{
    @include num(100%,auto);
    background:#ffa511;
    }
    td{
    @include num(33.3%,auto);
    //height:.4rem;
    border:.01rem solid #fff;
    text-align:center;
    line-height:.4rem;
    color:#fff;
    &:nth-child(1) img{
    @include num(100%,auto);
    }
    }
    }
}


    nav{
    background:#fff;
    ul{
    @include num(100%,auto);
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    padding:.1rem .1rem;
    li{
    @include num(20%,auto);
    text-align:center;
    padding:.1rem 0;
    img{
    @include num(.3rem,auto);
    display:block;
    margin:0 auto;
    }
    }
    }
    }
    .content1{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:.1rem;
    padding:.05rem .1rem;
    background:#fff;
    img{
    @include num(.2rem,auto);
    margin-right:.1rem;
    }
    h2{
    flex:1;
    @include text(1){};
    font-weight:normal;
    }
    span{
    display:block;
    @include num(.8rem,.25rem);
    border-radius:.5rem;
    color:#df8755;
    border:.01rem solid #df8755;
    text-align:center;
    line-height:.25rem;
    position:relative;
    &:after{
    content:"";
    height:0;
    width:0;
    border:.05rem solid transparent;
    border-left-color:#df8755;
    display:block;
    position:absolute;
    top:.05rem;
    right:-.02rem;
    }
    }
    }
    .content2{
    display:flex;
    justify-content:space-between;
    background:#fff;
    padding:.1rem;
    .left{
    @include num(48%,auto);
    background:#f9f9f9;
    display:flex;
    justify-content:space-between;
    .l_1{
    @include num(.5rem,auto);
    margin-right:.1rem;
    img{
    @include num(.5rem,auto);
    }
    }
    .l_2{
    flex:1;
    h2{
    font-size:.14rem;
    height:.4rem;
    font-weight:normal;
    line-height:.2rem;
    @include text(2){};
    }
    span{
    color:#ff8806;
    time{
    display:inline-block;
    width:.4rem;
    height:.2rem;
    border-radius:0 .1rem .1rem .1rem;
    background:#ff8806;
    color:white;
    margin-left:.05rem;
    }
    }
    em{
    font-size:.12rem;
    display:inline-block;
    font-style:normal;
    text-align:center;
    line-height:.2rem;
    @include num(.2rem,.2rem);
    border-radius:.05rem;
    background:#4a4a56;
    color:white;
    b{
    color:#4a4a56;
    }
    }
    }
    }
    .center{
    @include num(23%,auto);
    background:#f9f9f9;
    text-align:center;
    display:flex;
    flex-direction:column;
    h2{
    font-size:.16rem;
    height:.25rem;
    line-height:.25rem;
    font-weight:normal;
    }
    h4{
    height:.25rem;
    line-height:.25rem;
    font-size:.14rem;
    font-weight:normal;
    }
    img{
    @include num(.5rem,auto);
    align-self:center;
    }
    }

    }
    .content3{
    background:#fff;
    margin-top:.1rem;
    p{
    text-align:center;
    }
    ul{
    display:flex;
    padding:.1rem;
    li{
    @include num(33.3%,auto);
    border-bottom:.02rem solid #ccc;
    text-align:center;
    height:.3rem;
    line-height:.3rem;
    &:hover{
    border-bottom:.02rem solid #42ba72;
    }
    a{
    color:black;
    }
    }
    }
    ol{
    @include num(100%,auto);
    display:flex;
    justify-content:space-between;
    background:#fff;
    padding:.1rem;
    li{
    @include num(30%,auto);
    border:.01rem solid #f5f5f5;
    text-align:center;
    .bb{
    @include num(100%,auto);
     position:relative;
    img{
    @include num(100%,auto);
    }
    time{
    display:block;
    width:.5rem;
    height:.25rem;
    background:rgba(0,0,0,0.5);
    color:white;
    position:absolute;
    bottom:.05rem;
    left:0;
    }
    }
    span{
    color:#5e5e5e;
    }
    }
    }
    }
    .content4{
    background:#fff;
    padding:0 .1rem;
    ul{
    @include num(100%,auto);
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    li{
    @include num(31%,auto);
    text-align:center;
    border:.01rem solid #ccc;
    padding:.05rem 0;
    a{
    color:black;
    }
    }
    li.second{
    margin-top:.05rem;
    }
    }
    p{
    text-align:center;
    margin-top:.05rem;
    color:#3bb457;
    span{
    display:inline-block;
    width:.15rem;
    height:.15rem;
    border-radius:.5rem;
    border:.01rem solid #3bb457;
    text-align:center;
    line-height:.15rem;
    margin-left:.05rem;
    }
    }
    }
    .content5{
    margin-top:.1rem;
    background:#fff;
    p{
    text-align:center;
    margin-top:.05rem;
    }
    ul{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    padding:.1rem;
    @include num(100%,auto);
    li{
    @include num(23%,auto);
    text-align:center;

    img{
    @include num(100%,auto);
    display:block;
    margin:0 auto;
    }

    }
    }
    }
    .content6{
    @include num(100%,auto);
    margin-top:.1rem;
    h1{
    background:#fff;
    display:flex;

    align-items:center;
    padding:.05rem .1rem;
    p{
    font-size:.18rem;
    }
    img{
    @include num(.2rem,auto);
    margin:0 .05rem;
    }
    span{
    flex:1;
    @include text(1){};
    color:#999999;
    }
    b{
    border-radius:.5rem;
    border:.01rem solid #ee7f46;
    color:#ee7f46;
    display:inline-block;
    width:.7rem;
    height:.2rem;
    line-height:.2rem;
    font-size:.12rem;
    text-align:center;
    &:after{
    content:"";
    @include num(0,0);
    border:.05rem solid transparent;
    border-left-color:#ee7f46;
    display:inline-block;
    position:relative;
    left:.02rem;
    //top:.02rem;
    }
    }
    }
    .con{
    ul{
    display:flex;
    background:#fff;
    justify-content:space-between;
    padding:.05rem .1rem;
    @inclsude num(100%,auto);
    li{
    @include num(25%,auto);
    position:relative;
    img{
    @include num(80%,auto);
    display:block;
    margin:0 auto;
    }
    span{
    position:absolute;
    top:10%;
    left:11%;
    color:#fff;
    font-weight:bold;font-size:.14rem;
    }
    }
    }
    }
    }
    .content7{
    @include num(100%,auto);
    background:#fff;
    margin-top:.1rem;
    .top{
    ul{
    display:flex;
    justify-content:space-between;

    font-size:.18rem;

    li{
    @include num(25%,auto);
    text-align:center;

    padding:.05rem 0;
    border-bottom:.01rem solid #ccc;
    &:hover{
    border-bottom:.02rem solid #5db861;

    }
    &:hover a{
    color:#5db861;
    }
    a{
    color:black;
    font-weight:bold;
    }
    }
    }

    }
    .bottom{
    ul{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    @include num(100%,auto);
    li{
    @include num(25%,auto);
    &:hover span{
    border:.02rem solid #5db861;
    color:#5db861;
    background:#f6fffb;
    }
    span{
    @include num(80%,.3rem);
    display:inline-block;
    background:#f6f6f8;
    border-radius:.05rem;
    margin:.05rem .1rem;
    text-align:center;
    line-height:.26rem;
    color:#666666;
    border:.02rem solid #fff;
    }
    }
    }
    }
    }
    .content8{
    @include num(100%,auto);
    background:#fff;
    padding:.1rem 0;
    .picture{
    position:relative;
    img{
    @include num(100%,auto);
    display:block;
    }
    h1{
    @include num(1.7rem,.25rem);
    background:rgba(0,0,0,.5);
    color:#fff;
    position:absolute;
    font-weight:normal;
    top:.1rem;
    left:.1rem;
    line-height:.25rem;
    text-align:center;
    border-radius:.2rem;
    }
    p{
    @include num(.7rem,.35rem);
    background:#fe7501;
    color:#fff;
    text-align:center;
    line-height:.35rem;
    position:absolute;
    bottom:.1rem;
    left:.1rem;
    border-radius:.05rem;
    }
    span{
    position:absolute;
    bottom:.1rem;
    right:.1rem;
    color:#fff;
    }
    }

    h2{
    font-weight:normal;
    font-size:.16rem;
    padding:0 .1rem;
    line-height:.25rem;
    }
    h3{
    font-weight:normal;
    @include text(1){};
    line-height:.2rem;
    padding:0 .1rem;
    }
    ul{
    @include num(100%,auto);
    padding:0 .1rem;
    display:flex;
    margin-top:.05rem;
    li{
    @include num(.55rem,.2rem);
    border:.01rem solid #ccc;
    text-align:center;
    line-height:.18rem;
    border-radius:.05rem;
    margin-right:.02rem;
    &:nth-child(1){
    width:.3rem;
    }
    a{
    color:#ccc;
    font-size:.12rem;
    }
    }
    }
    }
}
footer{
    @include num(100%,.45rem);
    flex-shrink:0;
    background:#fff;
    ul{
    @include num(100%,100%);
    display:flex;
    justify-content:space-between;
    align-items:center;
    li{
    @include num(20%,auto);
    text-align:center;
    &:hover i.iconfont{
    color:#9c9c9c;
    }
    i.iconfont{
    font-size:.25rem;
    }

    }
    }
}