@import url(../iconfont/iconfont.css);
/*
* @Author: Marte
* @Date:   2018-02-05 21:02:56
* @Last Modified by:   Marte
* @Last Modified time: 2018-02-05 23:10:54
*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: .14rem;
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%;
  font-size: 100px; }

body {
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  touch-callout: none;
  -webkit-touch-callout: none; }

a {
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

@font-face {
  font-family: "iconfont";
  src: url(../iconfont/iconfont.svg);
  src: url(../iconfont/iconfont.woff);
  src: url(../iconfont/iconfont.ttf);
  src: url(../iconfont/iconfont.eot); }
.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

header {
  width: 100%;
  height: 0.45rem;
  flex-shrink: 0;
  background: linear-gradient(to right, #ff9003, #fe5200); }
  header p {
    text-align: center;
    line-height: .45rem;
    color: white; }

section {
  flex: 1;
  overflow: hidden;
  overflow-y: scroll; }
  section content .top {
    display: flex;
    padding: .1rem .1rem; }
    section content .top a {
      position: relative; }
      section content .top a span {
        width: 0.15rem;
        height: 0.15rem;
        border-radius: 50%;
        display: inline-block;
        border: 1px solid #ccc;
        display: block; }
      section content .top a input {
        width: 0.15rem;
        height: 0.15rem;
        opacity: 0;
        z-index: 9;
        position: absolute;
        top: 0;
        left: 0; }
        section content .top a input:checked ~ i {
          display: block; }
      section content .top a i {
        width: 0.15rem;
        height: 0.15rem;
        border-radius: 50%;
        display: inline-block;
        background: #fe5500;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        color: white;
        font-size: .12rem;
        text-align: center;
        line-height: .15rem; }
    section content .top img {
      width: 0.15rem;
      height: 0.15rem;
      margin: 0 .05rem; }
    section content .top span {
      margin-right: .05rem; }
  section content .center {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: .05rem .1rem;
    background: #fafafa;
    border-top: .01rem solid #ededed;
    border-bottom: .01rem solid #ededed; }
    section content .center .left {
      width: 1.2rem;
      height: auto;
      display: flex;
      padding-left: .03rem;
      justify-content: space-between;
      align-items: center; }
      section content .center .left a {
        position: relative; }
        section content .center .left a span {
          width: 0.15rem;
          height: 0.15rem;
          border-radius: 50%;
          display: inline-block;
          border: 1px solid #ccc;
          display: block; }
        section content .center .left a input {
          width: 0.15rem;
          height: 0.15rem;
          opacity: 0;
          z-index: 9;
          position: absolute;
          top: 0;
          left: 0; }
          section content .center .left a input:checked ~ i {
            display: block; }
        section content .center .left a i {
          width: 0.15rem;
          height: 0.15rem;
          border-radius: 50%;
          display: inline-block;
          background: #fe5500;
          position: absolute;
          top: 0;
          left: 0;
          display: none;
          color: white;
          font-size: .12rem;
          text-align: center;
          line-height: .15rem; }
      section content .center .left img {
        width: .8rem; }
    section content .center .right {
      flex: 1;
      padding: 0 .1rem; }
      section content .center .right h3 {
        display: flex;
        justify-content: space-between; }
        section content .center .right h3 p {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          word-break: break-all;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: normal;
          margin-right: .05rem; }
        section content .center .right h3 img {
          width: 0.2rem;
          height: 0.2rem; }
      section content .center .right span {
        display: block;
        width: 0.8rem;
        height: 0.15rem;
        background: #f70036;
        color: white;
        text-align: center;
        line-height: .15rem;
        font-size: .12rem; }
      section content .center .right time {
        color: #cacaca;
        font-size: .14rem; }
      section content .center .right h2 {
        display: flex;
        justify-content: space-between; }

footer {
  width: 100%;
  height: 0.45rem;
  flex-shrink: 0;
  background: white;
  border-top: .01rem solid #efefef; }
  footer ul {
    display: flex;
    align-items: center; }
    footer ul li {
      padding: .05rem 0;
      text-align: center;
      width: 20%;
      height: auto; }
      footer ul li:hover span, footer ul li:hover p {
        color: #fd5e03; }

/*# sourceMappingURL=style.css.map */
