/*
* @Author: Marte
* @Date:   2018-01-11 14:11:28
* @Last Modified by:   Marte
* @Last Modified time: 2018-01-13 15:46:10
*/
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-size: 12px;
}
.nav{
    width: 100%;
    height: 40px;
    background: #ccc;

}
.head{
    width: 1181px;
    height: 40px;

    margin:0 auto;
}
.head ol,.head li{
    float: left;
}
.head ul{
    float:right;
}
.head li{
    line-height: 40px;
    padding:0 15px;
}
.head ol li a{
    color:#6c6c6c;
}
.head ol li:nth-child(2) a{
    color:red;
}
.head ul li a{
 color:#6c6c6c;
 padding:0 15px;
}
.head ul li:not(:nth-child(4)) a{
    background:url(../images/jiao_03.jpg) no-repeat 68px center;
}
.head ul li:nth-child(2) a{
    background:url(../images/gou_03.jpg) no-repeat 5px center,url(../images/jiao_03.jpg) no-repeat 68px center;
}
.head ul li:nth-child(3) a{
    background:url(../images/xing_03.jpg) no-repeat left center,url(../images/jiao_03.jpg) no-repeat 68px center;
}
.head ul li:nth-child(7) a{
    background:url(../images/san_06.jpg) no-repeat left center,url(../images/jiao_03.jpg) no-repeat 68px center;
}

.head ul li:hover{
    background:white;
}
.box{
    width: 800px;
    height: 40px;
    background:yellow;
    margin:0 auto;
}

.box ul li{
float: left;
padding:0 10px;
line-height:40px;

}
.box ul li:hover{
background:red;
}
.box ul li a{
    padding:0 15px;
    border-right: 1px solid white;

}
 .box ul li a{
background:url(../images/jiao_03.jpg) no-repeat right center;
}
.box ul li:nth-child(2) a{
background:url(../images/gou_03.jpg) no-repeat 5px center,url(../images/jiao_03.jpg) no-repeat right center;
}
.box ul li:nth-child(3) a{
background:url(../images/xing_03.jpg) no-repeat left center,url(../images/jiao_03.jpg) no-repeat right center;
}
.box ul li:nth-child(4) a{
background:url(../images/san_06.jpg) no-repeat left center,url(../images/jiao_03.jpg) no-repeat right center;
}
.bb{
    width: 800px;
    height: 40px;

    margin:100px auto;
    background:red;
}
.bb ul li{
    float: left;

    line-height:40px;
}
.bb ul li a{
    border-right:1px solid white;
    padding:0 10px;
}