/*
* @Author: Marte
* @Date:   2018-01-08 08:57:50
* @Last Modified by:   Marte
* @Last Modified time: 2018-01-10 14:09:55
*/
*{
    list-style:none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
.box{
    width: 1423px;
    height: 686px;
    background: yellow;
    margin:0 auto;
}
.nav{
    height: 60px;
    background:#d31612;
}
 .nav h2{
    font-weight: bold;
    color:white;
   margin-left: 37px;
    line-height: 60px;
    font-style: italic;
    display: inline-block;
}


.nav a{
    display:inline-block;
    width: 74px;
    color:white;
    height: 59px;
    text-align: center;
    line-height:60px;
    /* border-right: 1px solid white; */
}
.nav a:hover{
    background:#f2504d;
}
.nav .first{
    margin-left: 700px;
}

.content{
height: 626px;
background:orange;
}
.left{
    width: 313px;
    height: 626px;
    background:skyblue;
    float:left;
}
.top{
width: 313px;
height: 227px;
background:url(../images/expert_sketch.jpg) no-repeat;
}
.top span{
    position:absolute;
    font-size:25px;
    color:white;
    margin-left: 230px;
    margin-top: 171px;

}
.bottom{
    height: 401px;
    background:white;
}
// .bottom p{
//     height: 35px;
//     line-height:35px;
//     margin-left: 23px;
// }

// .bottom h3 span{
// display: block;
// width: 11px;
// height: 15px;
// background:white url(../images/index_sprites.png) no-repeat;
// float: left;
// }
.bottom ul{
    margin-left: 17px;
    position: relative;
}
.bottom ul li{
    height: 30px;
    line-height:30px;
}
.bottom ul li:nth-child(1) span{
    width: 12px;
    height: 14px;
    background:black;
    display: inline-block;
    background:#fafafa url(../images/index_sprites.png) no-repeat -431px -311px;
    top: 10px;
    position:absolute;
    display: none;
}
.bottom ul li:nth-child(2) span{
    width: 12px;
    height: 14px;
    background:black;
    display: inline-block;
    background:#fafafa url(../images/index_sprites.png) no-repeat -431px -311px;
    top: 40px;
    position:absolute;
    display: none;
}
.bottom ul li:nth-child(3) span{
    width: 12px;
    height: 14px;
    background:black;
    display: inline-block;
    background:#fafafa url(../images/index_sprites.png) no-repeat -431px -311px;
    top: 70px;
    position:absolute;
    display: none;
}
.bottom ul li:hover{

font-weight:bold;

}
.bottom ul li:nth-child(1):hover span{
    display:block;
}
.bottom ul li:nth-child(2):hover span{
    display:block;
}
.bottom ul li:nth-child(3):hover span{
    display:block;
}
.bottom ul li a{
    color:black;
    padding-left: 10px;
}
.center{
    width: 625px;
    height: 626px;
    background:skyblue;
    float:left;
    margin-left: 10px;
}
.center h5{
    margin-top: 20px;
    margin-left: 20px;
}
.small{
width:193px;
height: 261px;
border:1px solid gray;
float: left;
margin-left: 10px;
margin-top: 10px;
}
.line{
    width:170px;
    height: 2px;
    background:#ccc;
    margin:0 auto;
    margin-top: 10px;
}
.small span{
    width: 60px;
    height: 60px;
    display:block;
    border:0px solid gray;
    border-radius: 50px;
    margin-top: 25px;
    margin-left: 68px;
    background:url(../images/niJthR.jpg) no-repeat;
}
.center h3{
    text-align:center;
}
.center p{
    text-align:center;
    height: 30px;
    line-height:30px;
    color:#9a9899;
}
.center p b{
    font-size:20px;
    color:#ec4846;
}
/* .center input{
    border-radius:8px;
    text-align:center;
} */
.center .input1{
    width: 54px;
    height: 17px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
    border:2px solid #f97f7c;
    color:#f97f7c;
    border-radius:8px;
    text-align:center;
}
.center .input2{
    width: 77px;
    height: 17px;
    display: inline-block;
     border:2px solid #6bb6f7;
    color:#6bb6f7;
    border-radius:8px;
    text-align:center;
}
.center .input3{
    height: 31px;
    width: 66px;
    background:#ff7143;
    color:white;
    border-radius:3px;
    border:0;
    margin-left:105px;
    margin-top: 13px;
}
.right{
    width: 197px;
    height: 626px;
    background:skyblue;
    float:left;
    margin-left: 10px;
}
.right h5{
    height: 35px;
    line-height:35px;
    margin-left: 10px;
    border-bottom: 2px solid gray;
}
.list ul{
    margin-top: 20px;
    height: 35px;
}
.list ul li span{
    display: block;
    width: 20px;
    height: 20px;
    background:white url(../images/index_sprites.png) no-repeat -570px -140px;
    float:left;
    margin-left: 12px;
    margin-top: 10px;
}
.list ul li img{
    width:35px;
    height: 35px;
    background:white;
    /* border:1px solid white; */
    border-radius:50%;
    float:left;
    margin-left: 10px;
}
.list ul li b{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.list ul li time{
    float: right;
    margin-right: 19px;
    margin-top: 10px;
    color:#ec4743;
}
.list ul li em{
    display:inline-block;
    width: 9px;
    height: 11px;
    background:url(../images/index_sprites.png) no-repeat -570px -203px;
}
.right .list:nth-child(3) ul li span{
    background-position:  -570px -159px;
}
.right .list:nth-child(4) ul li span{
    background-position:  -570px -182px;
}