@import url(../iconfont/iconfont.css);
/*
* @Author: Marte
* @Date:   2018-02-13 13:13:19
* @Last Modified by:   Marte
* @Last Modified time: 2018-02-13 16:34:17
*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: .14rem;
  box-sizing: border-box; }

html {
  height: 100%;
  width: 100%;
  font-size: 100px; }

body {
  height: 100%;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
  touch-callout: none;
  -webkit-touch-callout: none; }

a {
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

@font-face {
  font-family: "iconfont";
  src: url(../iconfont/iconfont.svg);
  src: url(../iconfont/iconfont.woff);
  src: url(../iconfont/iconfont.ttf);
  src: url(../iconfont/iconfont.eot); }
.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

header {
  width: 100%;
  height: 0.45rem;
  background: #fabc09;
  display: flex;
  padding: 0 .1rem;
  justify-content: space-between; }
  header p {
    text-align: center;
    color: #fff; }
    header p span.iconfont {
      display: block;
      font-size: .2rem;
      text-align: center;
      color: #fff; }
  header form {
    flex: 1;
    margin: .07rem .1rem;
    position: relative; }
    header form i {
      position: absolute;
      top: .06rem;
      left: .02rem; }
    header form input {
      width: 100%;
      height: 0.3rem;
      border: 0;
      outline: none;
      padding-left: .2rem;
      border-radius: .5rem;
      background: #fef1ce; }
  header .tu {
    margin-top: .07rem;
    width: 0.2rem;
    height: 0.3rem; }
    header .tu img {
      width: 100%;
      height: 100%; }

section {
  flex: 1;
  background: #f2f2f2;
  overflow: hidden;
  overflow-y: scroll; }
  section .banner {
    width: 100%;
    height: auto;
    position: relative; }
    section .banner ul {
      display: flex;
      width: 300%;
      height: auto; }
      section .banner ul li {
        width: 33.3%;
        height: auto; }
        section .banner ul li img {
          width: 100%;
          height: auto; }
    section .banner ol {
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: .1rem;
      right: .2rem;
      width: 0.5rem;
      height: 0.1rem;
      z-index: 999; }
      section .banner ol li {
        width: 0.1rem;
        height: 0.1rem;
        border-radius: 50%;
        display: inline-block;
        background: #fff; }
        section .banner ol li:hover {
          background: #fabc09; }
  section nav {
    width: 100%;
    height: auto;
    background: #fff; }
    section nav ul {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      section nav ul li {
        width: 20%;
        height: auto;
        text-align: center;
        padding: .05rem .1rem; }
        section nav ul li img {
          display: block;
          width: 70%;
          height: auto;
          margin: 0 auto; }
  section .content1 {
    width: 100%;
    height: auto;
    background: #f8eee5; }
    section .content1 .top {
      padding: .05rem .1rem;
      display: flex;
      justify-content: space-between; }
      section .content1 .top h2 {
        display: flex;
        justify-content: space-between;
        line-height: .3rem; }
      section .content1 .top em.iconfont {
        display: block;
        font-style: normal;
        width: 1rem;
        height: 0.2rem;
        text-align: center;
        border: .01rem solid black;
        border-radius: .2rem;
        line-height: .2rem;
        margin-top: .05rem; }
    section .content1 .bottom {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: auto; }
      section .content1 .bottom .left {
        width: 50%;
        height: auto; }
        section .content1 .bottom .left img {
          width: 100%;
          height: auto;
          margin-top: .25rem; }
      section .content1 .bottom .right {
        width: 22%;
        height: auto;
        background: #fff;
        border-radius: .1rem; }
        section .content1 .bottom .right img {
          width: 0.4rem;
          height: auto;
          display: block;
          margin: .05rem auto; }
        section .content1 .bottom .right p {
          text-align: center; }
        section .content1 .bottom .right span {
          width: 0.5rem;
          height: 0.25rem;
          background: red;
          color: #fff;
          display: block;
          border-radius: .2rem;
          text-align: center;
          margin: 0 auto;
          line-height: .25rem; }

/*# sourceMappingURL=style.css.map */
