@charset "UTF-8";
@import "../iconfont/iconfont.css";
/*
* @Author: Marte
* @Date:   2018-02-23 08:51:00
* @Last Modified by:   Marte
* @Last Modified time: 2018-02-23 17:56:43
*/
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: .14rem;
  box-sizing: border-box; }

html {
height:100%;
width:100%;
  font-size: 100px; }

body {
height:100%;
width:100%;
  user-select: none;
  -webkit-user-select: none;
  touch-callout: none;
  -webkit-touch-callout: none; }


a {
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

@mixin num($w,$h){
    width:$w;
    height:$h;
}
@mixin cir($w){
    width:$w;
    height:$w;
    border-radius:50%;
    display:inline-block;
}
%text{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
@mixin text($n){
    display:-webkit-box;
    -webkit-box-orient:vertical;
    word-break:break-all;
    -webkit-line-clamp:$n;
    overflow:hidden;
    text-overflow:ellipsis;
}
@font-face{
    font-family:"iconfont";
    src:url(../iconfont/iconfont.svg);
    src:url(../iconfont/iconfont.woff);
    src:url(../iconfont/iconfont.ttf);
    src:url(../iconfont/iconfont.eot);
}
.box{
    @include num(100%,100%);
    display:flex;
    flex-direction:column;
}
header{
    @include num(100%,.45rem);
    background:#5db861;
    display:flex;
    padding:0 .1rem;
    flex-shrink:0;
    align-items:center;
    img{
    @include num(.3rem,auto);
    }
    span.iconfont{
    margin:0 .05rem;
    color:white;
    }
    form{
    flex:1;
    position:relative;
    i.iconfont{
    position:absolute;
    left:.04rem;
    top:.08rem;
    color:#bbbbbb;
    }
    input{
    @include num(100%,.35rem);
    outline:none;
    border:0;
    border-radius:.05rem;
    padding:0 .2rem;
    &::-webkit-input-placeholder{
    color:#bbbbbb;
    }
    }
    }
}
section{
    flex:1;
    background:#ccc;
    overflow:hidden;
    overflow-y:scroll;
    h2{
    text-align:center;
    display:flex;
    background:#fff;
    align-items:center;
    justify-content:center;
    font-size:.16rem;
    padding-top:.1rem;
    img{
    @include num(.2rem,auto);
    margin:0 .05rem;
    }
    }
    .nav{
    ul{
    @include num(100%,auto);
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    padding:0 .1rem;
    background:#fff;
    li{
    @include num(25%,auto);
    text-align:center;
    padding:.1rem 0;
    border-bottom:.01rem solid #ccc;
    img{
    @include num(70%,auto);
    display:block;
    margin:0 auto;
    }
    span{
    text-align:center;
    }
    }
    }
    }
    .content1{
    @include num(100%,auto);
    margin-top:.1rem;
    h1{
    background:#fff;
    display:flex;

    align-items:center;
    padding:.05rem .1rem;
    p{
    font-size:.18rem;
    }
    img{
    @include num(.2rem,auto);
    margin:0 .05rem;
    }
    span{
    flex:1;
    @include text(1){};
    color:#999999;
    }
    b{
    border-radius:.5rem;
    border:.01rem solid #ee7f46;
    color:#ee7f46;
    display:inline-block;
    width:.7rem;
    height:.2rem;
    line-height:.2rem;
    font-size:.12rem;
    text-align:center;
    &:after{
    content:"";
    @include num(0,0);
    border:.05rem solid transparent;
    border-left-color:#ee7f46;
    display:inline-block;
    position:relative;
    left:.02rem;
    //top:.02rem;
    }
    }
    }
    .con{
    ul{
    display:flex;
    background:#fff;
    justify-content:space-between;
    padding:.05rem .1rem;
    @inclsude num(100%,auto);
    li{
    @include num(25%,auto);
    position:relative;
    img{
    @include num(80%,auto);
    display:block;
    margin:0 auto;
    }
    span{
    position:absolute;
    top:10%;
    left:11%;
    color:#fff;
    font-weight:bold;font-size:.14rem;
    }
    }
    }
    }
    }
    .content2{
    @include num(100%,auto);
    background:#fff;
    margin-top:.1rem;
    .top{
    ul{
    display:flex;
    justify-content:space-between;

    font-size:.18rem;

    li{
    @include num(25%,auto);
    text-align:center;

    padding:.05rem 0;
    border-bottom:.01rem solid #ccc;
    &:hover{
    border-bottom:.02rem solid #5db861;

    }
    &:hover a{
    color:#5db861;
    }
    a{
    color:black;
    font-weight:bold;
    }
    }
    }

    }
    .bottom{
    ul{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    @include num(100%,auto);
    li{
    @include num(25%,auto);
    &:hover span{
    border:.02rem solid #5db861;
    color:#5db861;
    background:#f6fffb;
    }
    span{
    @include num(80%,.3rem);
    display:inline-block;
    background:#f6f6f8;
    border-radius:.05rem;
    margin:.05rem .1rem;
    text-align:center;
    line-height:.26rem;
    color:#666666;
    border:.02rem solid #fff;
    }
    }
    }
    }
    }
    .content3{
    @include num(100%,auto);
    img{
    @include num(100%,auto);
    }
    }
}