@import url(../fonts/iconfont.css);
/*
* @Author: Marte
* @Date:   2018-02-25 11:16:03
* @Last Modified by:   Marte
* @Last Modified time: 2018-02-25 21:16:57
*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: .14rem;
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%;
  font-size: 100px;
  min-width: 320px; }

body {
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  touch-callout: none;
  -webkit-touch-callout: none; }

a {
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

@font-face {
  font-family: "iconfont";
  src: url(../iconfont/iconfont.svg);
  src: url(../iconfont/iconfont.woff);
  src: url(../iconfont/iconfont.ttf);
  src: url(../iconfont/iconfont.eot); }
.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

header {
  width: 100%;
  height: 0.45rem;
  display: flex;
  background: #f2f2f2; }

.head_pc {
  width: 10rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.h_right {
  display: flex; }
  .h_right p {
    color: #999; }
    .h_right p b {
      color: red;
      font-weight: normal; }
  .h_right a {
    background: url(../images/bao_05.png) no-repeat;
    padding-left: .3rem;
    margin-left: .1rem;
    color: #999; }

.yi {
  display: none;
  width: 100%;
  height: 0.45rem; }
  .yi .head_mobile {
    width: 100%;
    height: 0.45rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .15rem; }
    .yi .head_mobile p a {
      margin: 0 .05rem; }

section {
  flex: 1;
  overflow: hidden; }
  section .iscroll {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll; }

.banner img {
  width: 100%;
  height: auto;
  display: block; }
.banner .mo_banner {
  display: none; }

.nav {
  width: 100%;
  height: 0.45rem;
  background: #666; }
  .nav ul {
    width: 10rem;
    height: 100%;
    margin: 0 auto;
    display: flex; }
    .nav ul li {
      flex: 1;
      text-align: center;
      line-height: .45rem; }
      .nav ul li:hover {
        background: black; }
      .nav ul li a {
        color: #fff; }

.meeting .title {
  width: 10rem;
  height: auto;
  margin: 0 auto; }
  .meeting .title h2 {
    text-align: center;
    font-size: .2rem;
    line-height: .8rem; }
  .meeting .title p {
    text-indent: 2em;
    line-height: .3rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-all;
    -webkit-line-clamp: 6;
    overflow: hidden;
    text-overflow: ellipsis; }
  .meeting .title a {
    display: inline-block;
    width: 10rem;
    height: auto;
    margin: .1rem auto;
    text-align: center;
    line-height: .3rem;
    color: #0064fe; }
    .meeting .title a:before {
      content: url(../images/jia_15.png);
      display: inline-block;
      vertical-align: middle;
      margin-right: .1rem; }
.meeting .days ul {
  width: 10rem;
  height: auto;
  display: flex;
  margin: 0 auto; }
  .meeting .days ul li {
    width: 3.3rem;
    height: auto;
    text-align: center; }
.meeting .distance {
  width: 10rem;
  height: auto;
  margin: 0 auto;
  text-align: center; }
  .meeting .distance h2 {
    font-size: .2rem;
    line-height: .6rem;
    color: #666;
    letter-spacing: .05rem;
    font-weight: normal; }
    .meeting .distance h2 b {
      font-size: .2rem;
      color: red; }
  .meeting .distance h3 {
    display: flex;
    flex-direction: column;
    color: #999; }
.meeting .button {
  width: 10rem;
  height: auto;
  margin: .2rem auto;
  display: flex;
  padding: 0 .3rem; }
  .meeting .button button {
    flex: 1;
    height: .35rem;
    border-radius: .2rem;
    margin: 0 .1rem;
    border: .01rem solid #ef4747;
    background: #fff;
    color: #ef4747;
    font-weight: bold; }

.news {
  width: 10rem;
  height: auto;
  margin: 0 auto; }
  .news h2 {
    font-size: .2rem;
    text-align: center;
    line-height: .8rem; }
  .news .content {
    width: 100%;
    height: 100%;
    display: flex; }
    .news .content .left {
      width: 48%;
      height: auto; }
      .news .content .left .bottom {
        display: flex;
        justify-content: space-between; }
    .news .content .right {
      width: 52%;
      height: auto;
      padding: 0 .15rem; }
      .news .content .right h3 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        word-break: break-all;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: .3rem; }
      .news .content .right p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        word-break: break-all;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: .25rem;
        border-bottom: .01rem solid #ccc;
        padding-bottom: .07rem;
        color: #727272; }
      .news .content .right ul li {
        line-height: .35rem;
        background: url(../images/dian_07.png) no-repeat left center;
        padding-left: .1rem;
        margin-left: .1rem; }
        .news .content .right ul li span {
          float: right;
          color: #727272; }

.member {
  width: 10rem;
  height: auto;
  margin: 0 auto; }
  .member h1 {
    text-align: center;
    line-height: .8rem;
    font-size: .2rem; }
  .member .hero {
    width: 10rem;
    height: auto; }
    .member .hero ul {
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap; }
      .member .hero ul li {
        width: 20%;
        height: auto;
        text-align: center; }
        .member .hero ul li img {
          width: 80%;
          height: auto;
          display: block;
          margin: 0 auto; }
        .member .hero ul li h2 {
          font-weight: normal;
          font-size: .18rem;
          line-height: .3rem; }
        .member .hero ul li p {
          color: #666666;
          line-height: .3rem; }

@media screen and (min-width: 0px) and (max-width: 1000px) {
  .head_pc {
    display: none; }

  .yi {
    display: block; }

  .banner .pc_banner {
    display: none; }
  .banner .mo_banner {
    display: block; }

  .nav {
    display: none; }

  .meeting .title {
    width: 100%;
    height: auto;
    padding: 0 .1rem; }
    .meeting .title a {
      width: 100%;
      height: auto;
      text-align: center; }
  .meeting .days ul {
    display: block;
    width: 100%;
    height: auto; }
    .meeting .days ul li {
      width: 100%;
      height: auto;
      margin-top: .2rem; }
  .meeting .distance {
    width: 100%;
    height: auto; }
  .meeting .button {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column; }
    .meeting .button button {
      width: 80%;
      height: 0.5rem;
      border-radius: .5rem;
      margin: .2rem auto; }

  .news {
    width: 100%;
    height: auto; }
    .news .content {
      width: 100%;
      height: auto;
      display: flex;
      padding: 0 .1rem;
      flex-direction: column; }
      .news .content .left {
        width: 100%;
        height: auto; }
        .news .content .left .top {
          width: 100%;
          height: auto; }
          .news .content .left .top img {
            width: 100%;
            height: auto; }
        .news .content .left .bottom {
          width: 100%;
          height: auto; }
          .news .content .left .bottom .b_l {
            width: 50%;
            height: auto; }
            .news .content .left .bottom .b_l img {
              width: 100%;
              height: auto; }
          .news .content .left .bottom .b_r {
            width: 50%;
            height: auto; }
            .news .content .left .bottom .b_r img {
              width: 100%;
              height: auto; }
      .news .content .right {
        width: 100%;
        height: auto; }
        .news .content .right ul li {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          word-break: break-all;
          -webkit-line-clamp: 1;
          overflow: hidden;
          text-overflow: ellipsis; }
          .news .content .right ul li span {
            display: none; }

  .member {
    width: 100%;
    height: auto; }
    .member .hero {
      width: 100%;
      height: auto; }
      .member .hero ul {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap; }
        .member .hero ul li {
          width: 33.3%;
          height: auto; }
          .member .hero ul li:nth-child(10) {
            display: none; } }

/*# sourceMappingURL=style.css.map */
