/*
* @Author: Marte
* @Date:   2018-01-02 08:51:26
* @Last Modified by:   Marte
* @Last Modified time: 2018-01-02 18:24:05
*/
*{
   font-size: 14px;
   list-style: none;
   text-decoration: none;
   padding: 0;
   margin: 0;
}
.box{
    width: 189px;
    height: 533px;
    background: yellow;
    margin:0 auto;
}
h3{
    text-align: center;
    background:#2994e2;
    color:white;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    font-size:16px;
    font-weight:bold;
}
ul{
 background:url(../images/bg.png);
}
ul li a{
 height: 33px;
 line-height:31px;
 background:url(../images/red_03.jpg) no-repeat left center;
 margin-left: 10px;
 padding-left: 15px;
 color:#006599;
 display:block;
}
p{
    height: 32px;
    background:#2994e2 url(../images/yellow_03.jpg) no-repeat 10px center;
    padding-left: 25px;
  /*   margin-left: 10px; */
    color:yellow;
    line-height:32px;

    border-bottom: 1px solid white;

}
.footer{
    height: 33px;
    line-height:33px;
    color:white;
    font-size:16px;
    text-align:center;
    background:#2994e2;
    display:block;
}