.productWrap {
  width: 100%;
  height: 100%;
}
.productTop {
  width: 100%;
  height: 50px;
  background: #666;
}
.productContent {
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
}
.productContent button {
  margin-bottom: 20px;
}
.tableStyles {
  width: 100%;
}