@charset "UTF-8";
@import "../iconfont/iconfont.css";
/*
* @Author: Marte
* @Date:   2018-02-13 17:05:48
* @Last Modified by:   Marte
* @Last Modified time: 2018-02-13 22:28:41
*/
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: .14rem;
  box-sizing: border-box; }

html {
width:100%;
height:100%;
  font-size: 100px; }

body {
width:100%;
height:100%;
  user-select: none;
  -webkit-user-select: none;
  touch-callout: none;
  -webkit-touch-callout: none; }


a {
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

@mixin num($w,$h){
    width:$w;
    height:$h;
}
@mixin cir($w){
    width:$w;
    height:$w;
    border-radius:50%;
    display:inline-block;
}
%text{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
@mixin text($n){
    display:-webkit-box;
    -webkit-box-orient:vertical;
    word-break:break-all;
    -webkit-line-clamp:$n;
    overflow:hidden;
    text-overflow:ellipsis;
}
@font-face{
    font-family:"iconfont";
    src:url(../iconfont/iconfont.svg);
    src:url(../iconfont/iconfont.woff);
    src:url(../iconfont/iconfont.ttf);
    src:url(../iconfont/iconfont.eot);
}
.box{
    @include num(100%,100%);
    display:flex;
    flex-direction:column;
}
header{
    @include num(100%,.45rem);
    background:#fff;
    display:flex;
    padding:0 .1rem;
    justify-content:space-between;

    p{
    text-align:center;
    color:#ccc;
    span.iconfont{
    display:block;
    font-size:.2rem;
    text-align:center;
    color:#ccc;
    }
    }
    form{
    flex:1;
    margin:.07rem .1rem;
    position:relative;
    i{
    position:absolute;
    top:.06rem;
    left:.02rem;
    }
    input{
    @include num(100%,.3rem);
    border:0;
    outline:none;
    padding-left:.2rem;
    border-radius:.5rem;
    background:#f6f6f6;
    }
    }
    .tu{
    margin-top:.07rem;
    @include num(.2rem,.3rem);
    //background:pink;
    img{
    @include num(100%,100%);
    }
    }
}
section{
    flex:1;
    background:#f2f2f2;
    overflow:hidden;
    overflow-y:scroll;
    .banner{
    @include num(100%,auto);
    position:relative;
    ul{
    display:flex;
    @include num(300%,auto);
    li{
    @include num(33.3%,auto);
    img{
    @include num(100%,auto);
    }
    }
    }
    ol{
    display:flex;
    justify-content:space-between;
    position:absolute;
    bottom:.1rem;
    right:.2rem;
    @include num(.5rem,.1rem);
    //background:pink;
    z-index:999;
    li{
    @include cir(.1rem);
    background:#fff;
    &:hover{
    background:#fabc09;
    }
    }
    }
    }
    nav{
    @include num(100%,auto);
    background:#fff;
    ul{
    @include num(100%,auto);
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    li{
    @include num(20%,auto);
    text-align:center;
    padding:.05rem .1rem;
    img{
    display:block;
    @include num(70%,auto);
    margin:0 auto;
    }
    }
    }
    }
    .content1{
    @include num(90%,.72rem);
    margin-left:5%;
    margin-top:.1rem;
    border-radius:.3rem;
    border:.01rem solid purple;
    overflow:hidden;

    img{
    @include num(100%,auto);
    }
    }
    .content2{
    @include num(100%,auto);
    display:flex;
    background:#fff;
    margin-top:.1rem;
    p{
    margin:0 .1rem;
    }
    }
    .content3{
    display:flex;
    margin-top:.1rem;
    align-items:center;
    justify-content:space-between;
    background:#fff;
    h2{
     display:flex;
     align-items:center;
    height:.3rem;
    line-height:.3rem;
    em{
    display:inline-block;
    @include num(.05rem,.3rem);
    background:red;
    margin-right:.1rem;
    }
    span{
    @include num(.15rem,.15rem);
    border:.01rem solid black;
    color:red;
    font-size:.12rem;
    line-height:.15rem;
    text-align:center;
    &:nth-of-type(1){
    margin-left:.1rem;
    }
    }
    b{
    color:red;
    margin:0 .05rem;
    }
    }
    h3{
    span{
    color:red;
    }
    }
    }
    .content4{
    @include num(100%,auto);
    background:#fff;
    padding-top:.1rem;
    ul{
    @include num(100%,auto);
    display:flex;
    justify-content:space-between;
    padding:0 .1rem;
    li{
    @include  num(30%,auto);
    border:.01rem solid #ccc;
    text-align:center;
    img{
    @include num(100%,auto);
    }
    }
    }
    }
}