/*
* @Author: Marte
* @Date:   2018-01-03 20:11:34
* @Last Modified by:   Marte
* @Last Modified time: 2018-01-07 16:23:30
*/
*{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
.zhe{
width: 100%;
height: 100%;
background:rgba(0,0,0,0.5);
position: fixed;
left:0;
right:0;
}
.box{
    width: 955px;
    height: 703px;
    background: yellow;
    margin:0 auto;
    position: relative;
}
.head{
    height:37px;
    background:red;
}
.head p{
border-right: 2px solid black;
display: inline-block;
padding:0 10px;
}
.first{
    margin-left: 480px;
}
.head .second{
    border:0;
}
.nav{
    height:28px;
    background:url(../images/green_03.jpg) no-repeat;
    margin-top: 10px;
}
.nav a{
    display: block;
    width: 100px;
    margin-left: 15px;
    float: left;
    line-height: 25px;
    color:white;
}
.a1{
    padding-left: 25px;
}
.banner{
    height:285px;
    background:url(../images/banner_03.jpg) no-repeat;
    margin-top: 10px;
}
.banner p{
    border:1px solid red;
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height:15px;
    text-align: center;
}
.b1{
    position: absolute;
    top:340px;
    left:850px;
}
.b2{
    position: absolute;
    top:340px;
    left:870px;
}
.b3{
    position: absolute;
    top:340px;
    left:890px;
}
.content{
    height: 316px;
    background:green;
    margin-top: 10px;
}
.peng{
    height: 316px;
    width:318px;
    background:pink;
    float:left;
}
.peng h4{
    color:#17501b;
    display:inline-block;
    height: 35px;
    line-height:35px;
}
.peng span{
 color:#9cb49c;
}
.small{
    width: 169px;
    height: 15px;
    background:#b5b5b5;
    display:inline-block;
    margin-top: 5px;
    border-radius: 5px;
}
.small p{
    padding-left: 120px;
    line-height:14px;
    color:white;
}
.peng ul li{
    line-height:30px;
    background:url(../images/you_03.jpg) no-repeat left center;
    margin-left: 10px;
    padding-left: 10px;
    border-bottom:1px dotted gray;
}
.peng ul li:after{
    content:"08/12";
    margin-left: 125px;
    color:gray;
}
.hua{
    height: 316px;
    width:382px;
    background:pink;
    float:left;
    margin-left: 15px;
}
.hua h3{
    width: 57px;
    height: 27px;
    background:url(../images/greenqian_03.jpg) no-repeat;
    font-size:12px;
    line-height:27px;
    margin-left: 15px;

}
.pp{
    width: 117px;
    height:116px;
   /*  background:red; */
    margin-top: 13px;
    float:left;
    margin-left: 7px;
}
/* .hua img,.hua h3{
    float:left;
} */
.rong{
    height: 316px;
    width:212px;
    background:pink;
    margin-left: 15px;
    float:left;
}
.zhang{
    height: 173px;
    width: 212px;
    background:linear-gradient(to bottom,white,#e4f5e5);
}
.zhang h4{
    color:#17501b;
    display:inline-block;
}
.zhang span{
 color:#9cb49c;
}
.d1{
    width: 105px;
    height: 22px;
    border-radius:4px;
    background:url(../images/ioio_03.jpg) no-repeat left center;
    margin-top: 10px;
    margin-left: 10px;
}
.d2{
    width: 105px;
    height: 22px;
    border-radius:4px;
    background:url(../images/ioio_03.jpg) no-repeat left center;
    margin-top: 10px;
    margin-left: 10px;
}
.d3{
    width: 105px;
    height: 22px;
    border-radius:4px;
    background:url(../images/ioio_03.jpg) no-repeat left center;
    margin-top: 10px;
    margin-left: 10px;
}
.zhang img{
    float: right;
    margin-top: -50px;
}
.ll{
    margin-top: 10px;
}
.footer{
    width: 998px;
    height: 91px;
    background:linear-gradient(to bottom,white,#e4f5e5);
    margin:0 -20px;
}
.foot{
    height: 82px;
    width: 948px;
    background:#f2f2f2;
    margin: 0 auto;
    position: relative;
}
.op{
    position:absolute;
    top:20px;
    left:30px;
}
.qq{
    margin-top: 10px;
}
.foot p{
color:gray;
margin-left: 150px;
line-height:25px;
font-size:14px;
}