/*
* @Author: Marte
* @Date:   2018-01-19 13:34:23
* @Last Modified by:   Marte
* @Last Modified time: 2018-01-19 16:02:56
*/
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 60px;
    background:black;
}
.head{
    width: 1391px;
    height:60px;
    /* background:yellow; */
    margin:0 auto;
}
.head dl{
    float: left;
}
.head dd{
    font-size:12px;
    color:#585858;
    height: 15px;
    line-height:15px;
    letter-spacing: 19px;
}
.head .worlf{
    float: left;
    margin-left: 32px;
    padding-top: 5px;
}
form{
display: inline-block;
}
form input[type="text"]{
    width: 452px;
    height: 38px;
    margin-left: 123px;
    margin-top: 11px;
    background: #e3e3e3 url(../images/xiang_03.jpg) no-repeat 420px center;
    border:0;
    outline: none;
   /*  border:1px solid black; */
    padding-left: 10px;
    border-radius:5px 0 0 5px;
    display: inline-block;

}
form input[type="submit"]{
    width: 109px;
    height: 37px;
    margin-left: -5px;
    background:#62b005 url(../images/sou_03.jpg) no-repeat 10px center;
    color:white;
    border:0;
    outline: none;
    margin-top: 11px;
    border-radius: 0 5px 5px 0;
    display: inline-block;
}
.head ol{
float: right;
display: inline-block;
}
.head ol li{
float: left;
line-height:60px;
font-size:14px;
}
.head ol li a{
    padding:0 10px;
    color:#cccccc;
}
.head ol li:nth-child(4){
    background:url(../images/shangchuan_03.jpg) no-repeat left center;
}

.head ol li:nth-child(5){
position: relative;
}
.head ol .vip{
    position: absolute;
    top:10px;
    left:1306px;
}
.head ol .jiao:after{
    content: "";
    width: 0px;
    height: 0px;
    border:5px solid transparent;
    border-top-color:#cccccc;
    position: relative;
    top:15px;
    left:-5px;
}
.head ol li:hover a{
    border-bottom:2px solid #d4a369;

}
.banner{
    height: 522px;
    background:black;
    width: 100%;
position: relative;
}
.small{
width: 1414px;
height: 410px;
margin:0 auto;
overflow: hidden;
background:red;

}
.small ol{
    width: 219px;
    height: 349px;
    position:absolute;
    left:1255px;
    top:20px;
    background:black;

}
.small ol li{
    height: 34px;
    line-height:34px;
    border-bottom:1px solid #424242;
}
.small ol li:hover{
    background:#62b503;
}
.small ol li:hover a{
    color:white;
}
.small ol li a{
    color:#cfcbcc;
    padding-left: 10px;
}
.nav{
    width: 1414px;
    height: 90px;

    margin:0 auto;
    margin-top: 13px;
    border:1px solid #62b503;
}
.nav ul{
    width: 77px;
    height: 90px;
    margin-left: 20px;
    margin-top: 6px;
    background:url(../images/jian_03.jpg) no-repeat 76px center;
    float: left;


}
.nav ul li{
    height:25px;
    line-height:25px;
    float: left;
    text-align:center;


}
.nav ul li a{
    color:#cecccd;
    font-size:14px;

}
.nav img{
    margin-left: 50px;
    margin-top: 10px;
}
.content1{
    width: 1390px;

    height:439px;
    margin:0 auto;
    margin-top: 10px;
}
.left1{
width: 389px;
height: 439px;

float: left;
}
.left1 .today{
    height: 42px;
border-bottom:2px solid #689e02
}
.left1 h2{
    color:#689e02;
    font-weight:normal;
    margin-left: 10px;
    font-size:20px;
    display: inline-block;

    line-height:42px;

}
.left1 b{
font-size:14px;
color:#689e02;
}
.left1 span{
font-size:14px;
float: right;
line-height:42px;
margin-right: 10px;
}
.left1 p{
    height: 42px;
    line-height:42px;
    text-indent: 2em;
    font-size:16px;
}
.content1 ul li{
    height:37px;
    line-height:37px;
    background:url(../images/jiaoji_03.jpg) no-repeat left center;
    padding-left: 20px;
    margin-left: 10px;
    font-size:14px;
    color:#313332;

}
.content1 dl{
    float: left;
    margin-right: 10px;
    margin-top: 7px;
}
.content1 dl dd{
    width: 181px;
    height: 36px;
    font-size:12px;
    background:#f2f2f0;
    color:#313332;
    margin-top: -5px;
    line-height:36px;
    text-align:center;
}
.left2{
    width: 384px;
    height: 435px;

    float: left;
    margin-left: 10px;
}
.l_top{
    height: 252px;
    width: 384px;
    background:pink;
    position: relative;
}
.l_top span{
    display: inline-block;
    width: 33px;
    height: 29px;
    background:url(../images/site-icons-qyIndex_v2.png);
    background-position: -80px -220px;
    margin-top: 10px;
    position: absolute;
}
.l_top p{
    width: 384px;
    height: 40px;
    background:rgba(0,0,0,0.3);
    color:white;
    position: absolute;
    bottom:0;
    line-height:40px;
    padding-left: 10px;

}
.right{
    width: 581px;
    height: 438px;

    float: left;
    margin-left: 15px;
}
.content2{
    width: 1390px;

    height:396px;
    margin:0 auto;
    margin-top: 20px;
}
.left3{
    width: 1181px;
    height: 394px;

    float: left;
}
.l_3top{
    height: 45px;
    width: 1181px;
    border-bottom:2px solid #89c024;
    position: relative;
}
.l_3top h3 span{
    display: inline-block;
    /* margin-top: 10px;
    margin-left: 10px; */
    position: absolute;
   left:10px;
   top:10px;
    width: 16px;
    height: 26px;
    background:url(../images/site-icons-qyIndex_v2.png);
    background-position:-79px -179px;


}
.l_3top h3{
    margin-left: 30px;
    line-height:45px;
    color:#89c024;
    display: inline-block;
}
.l_3top h3 b{
    color:black;
    font-size:12px;
    padding-left: 10px;
}
.l_3top ul{
    float: right;
    display: inline-block;margin-right: 776px;
}
.l_3top ul li{
    float: left;
    line-height:45px;


}
.l_3top ul li a{
    padding-left: 10px;
    color:black;
    font-size:14px;

}
.left3 dl{
    float: left;
}
.left3 dd{
    width: 380px;
    height: 30px;
margin-top: -5px;
     font-size:14px;
    color:#585858;
    line-height:30px;

   background:#f2f2f2;

}
.big{
    width: 782px;
    height: 327px;

    float: left;
    margin-left: 10px;
}
.big dl{
    float: left;
    margin-left: 14px;
    margin-top: 8px;
}
.big .word{
    width: 181px;
    height: 50px;

}
.left4{
    width: 180px;
    height: 394px;
    background:red;
    float: left;
    margin-left: 15px;
}