@charset "UTF-8";
@import "../iconfont/iconfont.css";

//@import "../fonts/iconfont.css"
/*
* @Author: Marte
* @Date:   2018-02-01 16:53:42
* @Last Modified by:   Marte
* @Last Modified time: 2018-02-02 20:08:26
*/
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: .14rem;
  box-sizing: border-box; }

html {
width:100%;
height:100%;
  font-size: 100px;
  min-width:3.2rem; }

body {
width:100%;
height:100%;
  user-select: none;
  -webkit-user-select: none;
  touch-callout: none;
  -webkit-touch-callout: none; }


a {
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

@mixin num($w,$h){
    width:$w;
    height:$h;
}
@mixin cir($w){
    width:$w;
    height:$w;
    border-radius:50%;
    display:inline-block;
}
%text{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
@mixin text($n){
    display:-webkit-box;
    -webkit-box-orient:vertical;
    word-break:break-all;
    -webkit-line-clamp:$n;
    overflow:hidden;
    text-overflow:ellipsis;
}
@font-face{
    font-family:"iconfont";
    src:url(../iconfont/iconfont.svg);
    src:url(../iconfont/iconfont.woff);
    src:url(../iconfont/iconfont.ttf);
    src:url(../iconfont/iconfont.eot);
}
.wrap{
    @include num(100%,100%);
    display:flex;
    flex-direction:column;
    overflow:hidden;
}
header{
    @include num(100%,.45rem);
    background:black;
    flex-shrink:0;
    display:flex;
    justify-content:space-between;
    padding:0 .1rem;
    align-items:center;
    h2{
    font-size:.16rem;
    margin-left:-.42rem;
    color:white;
    }
    span.iconfont{
    color:white;
    font-size:.12rem;
    }
    span.last{
    font-size:.3rem;
    }
}
section{
    @include num(100%,100%);
    flex-grow:1;
    background:#f8f8f8;
    overflow:hidden;
    overflow-y:scroll;
    .se1{
    margin:.05rem 0;
    @include num(100%,.3rem);
    background:#fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 .1rem;
    span{
    color:#999999;
    }
    ul{
    @include num(1.3rem,.25rem);
    border-radius:.05rem;
    //background:pink;
    overflow:hidden;
    display:-webkit-flex;
    display:flex;
    border:.01rem solid #29cc6d;
    li{
    flex:1;
    //@include num(.64rem,.23rem);
    //background:red;
    //display:inline-block;
    text-align:center;
    line-height:.25rem;
    a{
    color:#29cc6d;
    display:block;
    }
    &:hover{
    background:#29cc6d;
    }
    &:hover a{
    color:white;
    }
    }
    }
    }
    .banner{
    @include num(100%,auto);
    position:relative;
    ul{
    width:500%;
    display:flex;
    overflow:hidden;
    li{
    width:20%;
    img{
    width:100%;
    }
    }
    }
    ol{
    position:absolute;
    bottom:.1rem;
    right:.1rem;
    @include num(.7rem,.2rem);
    //background:red;
    li{
    @include cir(.1rem);
    border:.01rem solid white;
    background:#fff;
    &:hover{
    background:orange;
    cursor:printer;
    }
    a{
    display:block;
    height:.1rem;
    }
    }
    }
    }
    nav{
    ul{
    display:flex;
    @include num(100%,auto);
    flex-wrap:wrap;
    background:#fff;
    li{
    padding:.06rem 0;
    width:25%;
    text-align:center;
    border-right:.01rem solid #f1f1f1;
    border-top:.01rem solid #f1f1f1;
    i.iconfont{
    display:block;
    font-size:.3rem;
    }
    span{
    color:#a9a9a9;
    }
    }
    }
    }
    content{
    background:#fff;
    @include num(100%,auto);
    margin-top:.05rem;
    padding:.02rem .07rem;
    display:flex;
    justify-content:space-between;
    //align-items:center;
    border-bottom:.01rem solid #bbbbbb;
    .left{
    flex-shrink:0;
    //@include num(30%,auto);
    img{
    @include num(.8rem,auto);
    margin-top:.1rem;
    }
    }

    .right{
    flex:1;
    //@include num(70%,auto);
    //background:pink;
    padding-left:.1rem;
    h2{
    margin-top:.06rem;
    height:.4rem;
    font-size:.16rem;
    font-weight:normal;
    line-height:.2rem;
    @include text(1){}
    }
    p{
    color:#bbbbbb;
    line-height:.25rem;
    }
    label{
    display:flex;
    justify-content:space-between;
    span{
    font-size:.16rem;
    color:#f7665e;
    font-weight:bold;
    time{
    color:#bbb;
    font-weight:normal;
    }
    a{
    @include num(.4rem,.25rem);
    display:inline-block;
    border:.02rem solid #a4aecf;
    border-radius:.07rem;
    color:#a4aecf;
    font-size:.12rem;
    text-align:center;
    line-height:.21rem;
    margin-left:.1rem;
    }
    }

    em{
    display:inline-block;
    font-style:normal;
    @include num(.4rem,.25rem);
    border:.02rem solid #29cc6d;
    border-radius:.05rem;
    color:#29cc6d;
    font-size:.12rem;
    text-align:center;
    line-height:.21rem;
    //margin-left:.3rem;
    }
    }
    }
    }

}
footer{
    @include num(100%,.45rem);
    background:#f7f7f7;
    flex-shrink:0;

    ul{
    display:flex;
    justify-content:space-between;
    //align-items:center;
    li{
     width:20%;
     text-align:center;
     i.iconfont{
     margin-top:.02rem;
     display:block;
     font-size:.2rem;
     color:#999999;
     }
     span{
     font-size:.12rem;
     color:#999;
     }
     &:hover i.iconfont,&:hover span{
     color:#29cc6d;
     }
    }
    }
}