/*
* @Author: Marte
* @Date:   2018-01-09 08:41:23
* @Last Modified by:   Marte
* @Last Modified time: 2018-01-09 09:14:22
*/
*{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
.box{
width: 1204px;
height: 263px;
background:linear-gradient(to left,#ff9a2e,#fff);
margin:0 auto;
}
.small1{
    width: 197px;
    height: 250px;
    background:#fff;
    border:1px solid gray;
    float: left;
    position: relative;
}
.small1 dl dt{
    margin-top: 28px;
    margin-left: 53px;
}
.small1 dl dd{
    width: 160px;
    /* text-align: center; */
    margin-left: 20px;
    line-height: 25px;
}
.small1 span{
    font-size: 30px;
    color:red;
    font-weight: bold;
    line-height:60px;
    padding-left: 10px;
}
.boxs{
width: 30px;
height: 30px;
background:#ff9a2e;
position: absolute;
bottom:16px;
right:14px;
line-height:30px;
}
.boxs img{
    vertical-align: middle;
    margin-left: 7px;
}
.jiaol{
    width: 0;
    height: 0;
    border:10px solid transparent;
    border-left-color:#ff9a2e;
    display: block;
    position:absolute;
    top:0px;

}
.jiaot{
    width: 0;
    height: 0;
    border:10px solid transparent;
    border-top-color:#ff9a2e;
    display: block;
    position:absolute;
    top:0;
}
.jiaor{
    width: 0;
    height: 0;
    border:10px solid transparent;
    border-right-color:#ff9a2e;
    display: block;
    position:absolute;
    top:233px;
    right: 378px;
}
.jiaob{
    width: 0;
    height: 0;
    border:10px solid transparent;
    border-bottom-color:#ff9a2e;
    display: block;
    position:absolute;
    top:232px;
    right: 378px;
}