@import url(../iconfont/iconfont.css);
/*
* @Author: Marte
* @Date:   2018-02-02 18:03:26
* @Last Modified by:   Marte
* @Last Modified time: 2018-02-03 00:29:32
*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: .14rem;
  box-sizing: border-box; }

html {
  height: 100%;
  width: 100%;
  background: #f0f0f0;
  font-size: 100px; }

body {
  height: 100%;
  width: 100%;
  background: #f0f0f0;
  user-select: none;
  -webkit-user-select: none;
  touch-callout: none;
  -webkit-touch-callout: none; }

a {
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

@font-face {
  font-family: "iconfont";
  src: url(../iconfont/iconfont.svg);
  src: url(../iconfont/iconfont.woff);
  src: url(../iconfont/iconfont.ttf);
  src: url(../iconfont/iconfont.eot); }
.box {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column; }

header {
  width: 100%;
  height: 0.45rem;
  background: #f2f4f5;
  padding: 0 .1rem;
  display: flex;
  display: -webkit-flex;
  align-items: center; }
  header form {
    width: 100%;
    height: 0.3rem;
    display: flex;
    position: relative; }
    header form input {
      flex: 1;
      background: #e6e9eb;
      padding: 0 .3rem;
      border-radius: .05rem;
      border: 0;
      outline: none; }
      header form input::-webkit-input-placeholder {
        color: black;
        font-size: .12rem;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
    header form span.iconfont {
      position: absolute;
      top: .07rem;
      left: .1rem;
      font-size: .16rem;
      color: #666; }
    header form b.iconfont {
      position: absolute;
      top: .07rem;
      right: .1rem;
      color: #666; }

section {
  flex: 1; }
  section .sou {
    width: 100%;
    height: auto;
    background: #099fde; }
    section .sou .sou_top {
      width: 100%;
      height: auto;
      display: flex;
      padding: 0 .1rem;
      align-items: center;
      display: -webkit-flex;
      justify-content: space-between; }
      section .sou .sou_top span, section .sou .sou_top b, section .sou .sou_top a {
        color: white; }
      section .sou .sou_top b {
        font-size: .2rem;
        font-weight: normal;
        margin-left: .2rem; }
      section .sou .sou_top a {
        font-size: .12rem; }
    section .sou .sou_bot {
      width: 100%;
      display: flex;
      padding: .1rem .1rem;
      align-items: center;
      display: -webkit-flex;
      justify-content: space-between; }
      section .sou .sou_bot button {
        width: 0.4rem;
        height: 0.35rem; }
      section .sou .sou_bot form {
        position: relative;
        flex: 1;
        background: white;
        height: auto;
        overflow: hidden;
        display: flex;
        margin-right: .1rem;
        border-radius: .05rem;
        overflow: hidden; }
        section .sou .sou_bot form label {
          width: 0.7rem;
          height: 0.35rem;
          border-right: .01rem solid #dfdfdf;
          margin-left: .05rem; }
          section .sou .sou_bot form label p {
            font-size: .12rem;
            width: 0.76rem;
            height: auto; }
            section .sou .sou_bot form label p time {
              color: #7f7f7f; }
              section .sou .sou_bot form label p time time {
                font-size: .12rem; }
            section .sou .sou_bot form label p img {
              width: 0.1rem;
              height: auto; }
        section .sou .sou_bot form input {
          flex: 1; }
          section .sou .sou_bot form input::-webkit-input-placeholder {
            padding-left: .1rem;
            color: #ccc; }
          section .sou .sou_bot form input span.iconfont {
            position: absolute;
            left: 50%;
            top: 0; }
      section .sou .sou_bot button {
        background: #5eccec;
        border: 0;
        border-radius: .05rem;
        color: white;
        font-size: .12rem; }
  section nav {
    width: 100%;
    height: auto; }
    section nav ul {
      display: flex;
      background: #fff;
      justify-content: space-between; }
      section nav ul > li {
        width: 25%;
        height: auto;
        position: relative;
        text-align: center;
        padding: .1rem 0; }
        section nav ul > li:hover a {
          color: #84cff8; }
        section nav ul > li .second {
          z-index: 9999;
          position: absolute;
          display: flex;
          left: 0;
          top: .4rem;
          width: 400%;
          height: auto;
          background: white;
          display: none; }
          section nav ul > li .second .sec1 {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            padding: .2rem .15rem; }
            section nav ul > li .second .sec1 b {
              font-weight: normal;
              color: skyblue; }
          section nav ul > li .second .sec2 ul {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            padding: 0 .2rem; }
            section nav ul > li .second .sec2 ul li {
              width: 23%;
              height: auto;
              border-radius: .1rem;
              background: #f0f1f2; }
              section nav ul > li .second .sec2 ul li i {
                font-style: normal;
                display: block;
                font-size: .16rem; }
              section nav ul > li .second .sec2 ul li span {
                color: #666666; }
          section nav ul > li .second .sec3 p {
            text-align: left;
            padding: .1rem .15rem; }
          section nav ul > li .second .sec3 img {
            width: 90%;
            height: auto; }
          section nav ul > li .second .sec4 {
            display: flex;
            margin-top: .1rem;
            width: 100%;
            height: auto; }
            section nav ul > li .second .sec4 input[type="submit"] {
              width: 50%;
              height: 0.3rem;
              background: #fff;
              border: 0;
              outline: none;
              border-top: .01rem solid #dddddd; }
              section nav ul > li .second .sec4 input[type="submit"]:hover {
                background: #ff9a14;
                color: #fff; }
            section nav ul > li .second .sec4 input[type="button"] {
              width: 50%;
              height: 0.3rem;
              background: #fff;
              border: 0;
              outline: none;
              border-top: .01rem solid #dddddd; }
              section nav ul > li .second .sec4 input[type="button"]:hover {
                background: #ff9a14;
                color: #fff;
                border-top: .01rem solid #dddddd; }
        section nav ul > li:hover .second {
          display: block; }
        section nav ul > li > a {
          color: #3d3d3d; }
          section nav ul > li > a:after {
            content: "";
            width: 0;
            height: 0;
            border: .05rem solid transparent;
            border-top-color: #ccc;
            position: relative;
            top: .13rem;
            left: .1rem; }
          section nav ul > li > a:hover:after {
            content: "";
            width: 0;
            height: 0;
            border: .05rem solid transparent;
            border-bottom-color: #5eccec;
            position: relative;
            top: -.13rem;
            left: .1rem; }
  section .look {
    width: 100%;
    height: auto; }
    section .look ul {
      display: flex;
      margin-top: .1rem; }
      section .look ul li {
        width: 0.6rem;
        height: 0.3rem;
        background: #fff;
        margin-left: .1rem;
        border-radius: .05rem;
        text-align: center;
        line-height: .3rem; }
        section .look ul li a {
          color: black; }
  section .bei {
    width: 100%;
    height: auto;
    background: url(../images/bei_02.jpg) no-repeat;
    background-size: 100%;
    margin-top: .1rem; }
    section .bei h2 {
      font-size: .2rem; }

footer {
  width: 100%;
  height: 0.45rem;
  background: pink; }

/*# sourceMappingURL=style.css.map */
