@charset "UTF-8";
@import "../iconfont/iconfont.css";
/*
* @Author: Marte
* @Date:   2018-02-02 18:03:26
* @Last Modified by:   Marte
* @Last Modified time: 2018-02-03 00:29:32
*/
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: .14rem;
  box-sizing: border-box; }

html {
height:100%;
width:100%;
background:#f0f0f0;
  font-size: 100px; }

body {
height:100%;
width:100%;
background:#f0f0f0;
  user-select: none;
  -webkit-user-select: none;
  touch-callout: none;
  -webkit-touch-callout: none; }


a {
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

@mixin num($w,$h){
    width:$w;
    height:$h;
}
@mixin cir($w){
    width:$w;
    height:$w;
    border-radius:50%;
    display:inline-block;
}
%text{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
@mixin text($n){
    display:-webkit-box;
    -webkit-box-orient:vertical;
    word-break:break-all;
    -webkit-line-clamp:$n;
    overflow:hidden;
    text-overflow:ellipsis;
}
@font-face{
    font-family:"iconfont";
    src:url(../iconfont/iconfont.svg);
    src:url(../iconfont/iconfont.woff);
    src:url(../iconfont/iconfont.ttf);
    src:url(../iconfont/iconfont.eot);
}
.box{
    @include num(100%,100%);
    display:flex;
    display:-webkit-flex;
    flex-direction:column;
}
header{
    @include num(100%,.45rem);
    background:#f2f4f5;
    padding:0 .1rem;
    display:flex;
    display:-webkit-flex;
    align-items:center;
    form{
    @include num(100%,.3rem);

    display:flex;
    //background:blue;
    position:relative;
    input{
    flex:1;
    background:#e6e9eb;
    padding:0 .3rem;
    border-radius:.05rem;
    border:0;
    outline:none;
    &::-webkit-input-placeholder{
    color:black;
    font-size:.12rem;
    text-align:center;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    }
    }
    span.iconfont{
    position:absolute;
    top:.07rem;
    left:.1rem;
    font-size:.16rem;
    color:#666;
    }
    b.iconfont{
    position:absolute;
    top:.07rem;
    right:.1rem;
    color:#666;
    }
    }


}
section{
    //@include num(100%,100%);
    flex:1;
   // background:yellow;
    .sou{
    @include num(100%,auto);
    background:#099fde;
    .sou_top{
    @include num(100%,auto);

    display:flex;
    padding:0 .1rem;
    align-items:center;
    display:-webkit-flex;
    justify-content:space-between;
    span,b,a{
    color:white;
    }
    b{
    font-size:.2rem;
    font-weight:normal;
    margin-left:.2rem;
    }
    a{
    font-size:.12rem;
    }
    }
    .sou_bot{
     //@include num(100%,auto);
    width:100%;
    display:flex;
    padding:.1rem .1rem;
    align-items:center;
    display:-webkit-flex;
    justify-content:space-between;

    button{
    @include num(.4rem,.35rem);
    }
    form{
    position:relative;
    flex:1;
    background:white;
    height:auto;
    overflow:hidden;
    display:flex;
    margin-right:.1rem;
    border-radius:.05rem;
    overflow:hidden;
    label{
    //display:flex;
    @include num(.7rem,.35rem);
    border-right:.01rem solid #dfdfdf;
    margin-left:.05rem;
    p{
    font-size:.12rem;
    @include num(.76rem,auto);
    time{
    color:#7f7f7f;
    time{
    font-size:.12rem;
    }
    }
    img{
    @include num(.1rem,auto);
    }
    }
    }
    input{
    flex:1;
    &::-webkit-input-placeholder{
    padding-left:.1rem;
    color:#ccc;
    }
    span.iconfont{
    position:absolute;
    left:50%;
    top:0;
    }
    }
    }
    button{
    background:#5eccec;
    border:0;
    border-radius:.05rem;
    color:white;
    font-size:.12rem;
    }
    }
    }
    nav{
    @include num(100%,auto);
    ul{
    display:flex;
    background:#fff;
    justify-content:space-between;
    >li{
    @include num(25%,auto);
    position:relative;
    text-align:center;
    padding:.1rem 0;
    &:hover a{
    color:#84cff8;
    }
    .second{
    z-index:9999;
    position:absolute;
    display:flex;
    left:0;
    top:.4rem;
    @include num(400%,auto);
    background:white;
    display:none;
    .sec1{
    @include num(100%,auto);
    display:flex;
    justify-content:space-between;
    padding:.2rem .15rem;
    b{
    font-weight:normal;
    color:skyblue;
    }
    }
    .sec2{
    ul{
    @include num(100%,auto);
    display:flex;
    justify-content:space-between;
    padding:0 .2rem;
    li{
    @include num(23%,auto);
    border-radius:.1rem;
    background:#f0f1f2;
    i{
    font-style:normal;
    display:block;
    font-size:.16rem;
    }
    span{
    color:#666666;
    }
    }
    }
    }
    .sec3{
    p{
    text-align:left;
    padding:.1rem .15rem;
    }
    img{
    @include num(90%,auto);
    }
    }
    .sec4{
    display:flex;
    margin-top:.1rem;
    @include num(100%,auto);
    input[type="submit"]{
    @include num(50%,.3rem);
    background:#fff;
    border:0;
    outline:none;
    border-top:.01rem solid #dddddd;
    &:hover{
    background:#ff9a14;
    color:#fff;
    }
    }
    input[type="button"]{
    @include num(50%,.3rem);
    background:#fff;
    border:0;
    outline:none;
    border-top:.01rem solid #dddddd;
    &:hover{
    background:#ff9a14;
    color:#fff;
    border-top:.01rem solid #dddddd;
    }
    }
    }
    }
    &:hover .second{
    display:block;
    }
    >a{
    color:#3d3d3d;
    &:after{
    content:"";
    width:0;
    height:0;
    border:.05rem solid transparent;
    border-top-color:#ccc;
    position:relative;
    top:.13rem;
    left:.1rem;
    }
    &:hover:after{
    content:"";
    width:0;
    height:0;
    border:.05rem solid transparent;
    border-bottom-color:#5eccec;
    position:relative;
    top:-.13rem;
    left:.1rem;
    }
    }
    }
    }
    }
    .look{
    @include num(100%,auto);
    ul{
    display:flex;
    margin-top:.1rem;
    li{
    @include num(.6rem,.3rem);
    background:#fff;
    margin-left:.1rem;
    border-radius:.05rem;
    text-align:center;
    line-height:.3rem;
    a{
    color:black;
    }
    }
    }
    }
    .bei{
    @include num(100%,auto);
    background:url(../images/bei_02.jpg) no-repeat;
    background-size:100%;
    margin-top:.1rem;
    h2{
    font-size:.2rem;

    }
    }
}
footer{
    @include num(100%,.45rem);
    background:pink;
}
