/*
* @Author: Marte
* @Date:   2018-01-11 08:39:12
* @Last Modified by:   Marte
* @Last Modified time: 2018-01-11 09:40:24
*/
*{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}
.head{
    width: 100%;
    height: 117px;
    /* background: yellow; */

}
.head1{
    height: 30px;
    background:black;
}
.head1 ul{
    margin-left: 200px;
}
.head1 ul li{
float: left;
padding-left: 10px;
line-height: 30px;
}
.head1 ul li:first-child a{
    color:#ff6600;
}
.head1 ul li:nth-child(3) a{
    border-left: 1px solid #989899;
}
.head1 ul .jiao:after{
    content:"";
    width: 0;
    height: 0;
    border:5px solid transparent;
    border-top-color:#989899;
    position: relative;
    top:10px;
}
.head1 ul li a{
color:#989899;
}
.head1 ol{
    float: right;
    margin-right: 170px;
}
.head1 ol li{
    float: left;
    width: 60px;
    line-height:30px;
    color:white;
}
.head1 ol li a{
    color:white;
}
.head1 ol li:nth-child(4) a{
   /*  display: block; */
    width: 70px;
    height: 22px;
    background:#ff6600;
   /*  line-height:30px; */
    text-align:center;
    margin-top: 5px;
}
.head2{
    height: 35px;
    background:#3b5998;
}
.head2 img{
position:absolute;
margin-left: 170px;
}
.head2 ul{
    margin-left: 355px;
}
.head2 ul li{
float: left;
width: 65px;
line-height:35px;
}
.head2 ul .jiao:after{
 content:"";
    width: 0;
    height: 0;
    border:5px solid transparent;
    border-top-color:white;
    position: relative;
    top:14px;
}
.head2 ul li a{
color:white;
font-weight: bold;
}
.head3{
    height: 50px;
    background:#efefef;

}
.head3 dl:first-child{
    margin-left: 355px;

}
.head3 dl{
     float: left;
     width: 87px;
}
.head3 dl dd{
    font-size:12px;
    width: 40px;
    text-align:center;
    line-height:20px;
}
.head3 dl dt{
    padding-top:5px;
}
.content{
    width: 1001px;
    height: 433px;
    background:yellow;
    margin:0 auto;
}
.top{
    height: 91px;
    margin-top: 5px;
}
.top img{
    margin-left: 3px;
}
.center{
    height: 91px;
    margin-top: 5px;
}
.bottom{
    height: 223px;
    margin-top: 5px;

}
.bottom ul li{
float: left;
width: 71px;
height: 33px;
border:1px solid gray;
 text-align:center;
 border-top:3px solid #3b5998;
}
.bottom ul li:hover{
    border-top:3px solid #ff6600;
    border-bottom: 0;
}
.bottom ul li a{
    color:black;
    line-height:33px;
}
.bottom input[type=text]{
width: 262px;
height: 32px;
border:2px solid #ff7700;
margin-left: 10px;
}
.bottom input[type=submit]{
    width: 90px;
    height: 35px;
    background:#ff7700;
    color:white;
    font-weight:bold;
    margin-left: -4px;
    border:0
}
.bottom span{

background:url(../images/xiao_03.jpg) no-repeat left center;
padding-left: 30px;
color:#3b5998;}
.first{
clear:both;
}
.first{
    height: 47px;
    border-bottom:1px dashed #ccc;
}
.first h3{
    line-height:47px;
    margin-left: 14px;
    float: left;
}
.first dl {
    float: left;
    margin-left: 50px;
}
.first dl dd{
    text-align:center;
    line-height:20px;
}
.first dl dd:first-child{
    color:#3b5998;
}
.first dl dd:nth-child(2){
    color:#ccc;
}