/*
* @Author: Marte
* @Date:   2017-12-30 08:40:51
* @Last Modified by:   Marte
* @Last Modified time: 2017-12-30 18:54:01
*/
*{
    padding: 0;
    margin: 0;
    font-size: 14px;
    list-style: none;
     text-decoration: none;
}
.box1{
    width: 1349px;
    height: 890px;
    background: #e6e6e6;
    margin :auto;
}
.box{
    width: 1204px;
    height: 870px;
   /*  background: yellow; */
    margin :auto;
    position: relative;
}
.header{
    height: 57px;
    /* background:red; */
}
.header img{
    margin-top: 0px;
    margin-left: 25px;
}
.header p{
    margin-left: 500px;
    display: inline;
    color:gray;
}
.header .a1{
    width:131px;
    height: 23px;
    background:url(../images/sou_06.jpg) no-repeat right center white;
    padding-right: 25px;
    color:#c8c8c8;
    margin-left: 10px;

}
.header select{
    width:156px;
    height: 45px;
    background:url(../images/jiao_03.jpg) no-repeat right center #0072bc;
    color:white;
     font-size:16px;
     border:0;
     margin-left: 10px;

}
.nav{
    height: 44px;
    margin-top: 5px;
    background:#f2f2f2;
}
.nav a{
    float: left;
    width: 100px;
    margin-left: 30px;
    color:black;
    line-height: 44px;
}
.tu{
    height: 359px;
    background:url(../images/bbba_03.jpg) no-repeat;
}
.tu p{
    padding-top: 335px;
    margin-left: 30px;
    color:white;

}
.tu img{
    float: right;
    margin-left: 10px;
    margin-top: -35px;
}
.content{
    height: 150px;
    margin-top: 10px;
    /* background:red; */
}
.peng{
    height: 150px;
    width: 283px;
    /* background:pink; */
    border-right: 2px solid #c2c2c2;
    float:left;
    margin-left: 15px;
}
.hua{
border:0;
}
.content h3{
    margin-left: 30px;
    height: 40px;
    line-height:40px;
    color:#2474bb;
    font-size:16px;
}

.content ul li{
 background:url(../images/xiao_07.jpg) no-repeat left center;
 line-height:25px;
 margin-left: 20px;
 padding-left: 10px;
}
.content p{
    width: 318px;
    background:url(../images/xain_07.jpg) no-repeat right ;
    float: left;
}
.rong p{
    padding-left: 230px;
    font-size:12px;

    color:green;
}
.rong a{
    color:black;
}
.banner{
    height: 190px;
    margin-top: 10px;
    background:#545454;
}

.wu{
    width: 235px;
    height: 146px;
    background:url(../images/d1_03.jpg) no-repeat;
    margin-left: 55px;
    margin-top: 25px;
    float:left;
}

.mei{
    width: 235px;
    height: 146px;
    background:url(../images/d2_03.jpg) no-repeat;
    margin-left: 55px;
    margin-top: 25px;
     float:left;
}
.zhang{
    width: 235px;
    height: 146px;
    background:url(../images/d3_03.jpg) no-repeat;
    margin-left: 55px;
    margin-top: 25px;
     float:left;
}
.xin{
    width: 235px;
    height: 146px;
    background:url(../images/d4_03.jpg) no-repeat;
    margin-left: 55px;
    margin-top: 25px;
     float:left;
}
.banner p{
    margin-top: 120px;
    color:white;
    text-align: center;
}
.footer{
    height: 40px;

    background:white;
}
.footer p{
    float: left;
    line-height:40px;
}
.footer .wen{
    margin-left: 400px;
}
.footer .pp{
    margin-left: 80px;
}
.footer img{
    margin-top: 10px;
    margin-left: 15px;
}
.ll{
    position:absolute;
    top:105px;
    left:190px;
}
.kk{
    position: absolute;
    left:1240px;
    top:138px;
}