@import url(../fonts/iconfont.css);
/*
* @Author: Marte
* @Date:   2018-01-30 14:21:13
* @Last Modified by:   Marte
* @Last Modified time: 2018-02-28 18:45:31
*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #333;
  font-size: .14rem;
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%;
  min-width: 320px;
  font-size: 100px; }

body {
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  touch-callout: none;
  -webkit-touch-callout: none; }

a {
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

@font-face {
  font-family: "iconfont";
  src: url(../iconfont/iconfont.svg);
  src: url(../iconfont/iconfont.woff);
  src: url(../iconfont/iconfont.ttf);
  src: url(../iconfont/iconfont.eot); }
.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

header {
  flex-shrink: 0;
  width: 100%;
  height: 0.45rem;
  background: url(../images/da.jpg);
  background-size: 100%;
  display: -webkit-flex;
  padding: 0 .1rem;
  justify-content: space-between;
  align-items: center; }
  header p, header span {
    color: white; }
  header p i.iconfont {
    color: #fff;
    font-size: .12rem;
    margin-left: .05rem; }

section {
  flex-shrink: 0;
  overflow: hidden;
  overflow-y: scroll;
  background: url(../images/da.jpg);
  background-size: 100%; }
  section form {
    padding: 0 .1rem;
    height: .33rem;
    position: relative; }
    section form input {
      width: 100%;
      height: 100%;
      border: .01rem solid #ccc;
      border-radius: .2rem;
      outline: none;
      text-align: center;
      color: #999999; }
    section form i.iconfont {
      position: absolute;
      left: 50%;
      margin-left: -.65rem;
      top: .06rem;
      color: #999999; }

nav ul {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap; }
  nav ul li {
    width: 20%;
    text-align: center;
    margin-top: .1rem; }
    nav ul li i.iconfont {
      width: 0.36rem;
      height: 0.36rem;
      background: white;
      display: block;
      border-radius: 50%;
      font-size: .25rem;
      line-height: .36rem;
      text-align: center;
      color: rgba(0, 0, 0, 0.5);
      margin: 0 auto; }
    nav ul li span {
      color: white;
      font-size: .12rem;
      line-height: .25rem; }

.content1 {
  width: 100%;
  height: auto;
  background: #f3f4f6; }
  .content1 .con_one {
    width: 100%;
    height: 0.76rem;
    background: white;
    padding: .1rem .1rem;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center; }
    .content1 .con_one img {
      width: 0.48rem;
      height: auto; }
    .content1 .con_one h1 {
      flex: 1;
      font-weight: normal; }
      .content1 .con_one h1 p {
        font-size: .14rem;
        padding-left: .1rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        word-break: break-all;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis; }
      .content1 .con_one h1 span {
        padding-left: .1rem;
        display: block;
        color: #9a9a9a;
        font-size: .12rem; }
  .content1 .con_two {
    width: 100%;
    height: auto;
    padding: .1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .content1 .con_two .lle {
      padding: .1rem;
      width: 50%;
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: white;
      border-right: .01rem solid #ccc; }
      .content1 .con_two .lle:nth-child(2) {
        border: 0; }
      .content1 .con_two .lle h2 p {
        font-size: .16rem;
        font-weight: normal; }
      .content1 .con_two .lle h2 span {
        font-size: .12rem;
        font-weight: normal; }
      .content1 .con_two .lle img {
        width: 0.5rem;
        height: auto; }
  .content1 .con_three {
    background: white;
    margin: .1rem 0; }
    .content1 .con_three .list {
      width: 100%;
      height: auto;
      display: flex; }
      .content1 .con_three .list li {
        position: relative;
        flex-grow: 1;
        margin: 0 .1rem; }
        .content1 .con_three .list li img {
          width: 100%;
          height: auto;
          display: block; }
        .content1 .con_three .list li p {
          width: 100%;
          height: 0.3rem;
          background: rgba(0, 0, 0, 0.57);
          color: white;
          line-height: .3rem;
          text-align: center;
          font-size: .12rem;
          position: absolute;
          bottom: .01rem;
          left: 0; }
  .content1 .con_four {
    width: 100%;
    height: auto;
    background: white;
    padding: 0 .2rem;
    margin: .1rem 0; }
    .content1 .con_four img {
      width: 100%;
      height: auto;
      margin-top: .1rem; }

.content2 .cont_one {
  width: 100%;
  height: auto; }
  .content2 .cont_one .title {
    text-align: center;
    padding: .1rem 0; }
    .content2 .cont_one .title img {
      width: 0.25rem;
      height: auto;
      vertical-align: middle;
      margin: 0 .05rem; }
  .content2 .cont_one .nei h2 {
    font-size: .16rem;
    margin-left: .1rem;
    font-weight: normal; }
  .content2 .cont_one .nei p {
    display: flex;
    justify-content: space-between; }
    .content2 .cont_one .nei p a {
      color: #909090;
      line-height: .3rem;
      margin-left: .1rem; }
    .content2 .cont_one .nei p span {
      font-size: .16rem;
      line-height: .3rem;
      float: right; }
  .content2 .cont_one .nei h3 {
    display: flex;
    align-items: center; }
    .content2 .cont_one .nei h3 img {
      width: 32%;
      height: auto;
      margin: .1rem .02rem; }
.content2 .cont_two {
  align-items: center; }
  .content2 .cont_two h2 {
    font-size: .16rem;
    line-height: .4rem;
    margin-left: .1rem;
    font-weight: normal; }
  .content2 .cont_two img {
    width: 100%;
    height: auto; }
  .content2 .cont_two p {
    width: 0.8rem;
    height: 0.2rem;
    border-radius: .2rem;
    border: .01rem solid orange;
    text-align: center;
    line-height: .2rem;
    display: inline-block;
    margin: .06rem 0 .1rem .06rem;
    color: orange; }
  .content2 .cont_two span {
    color: #ccc;
    margin-left: .1rem; }
.content2 .cont_three h2 {
  font-size: .16rem;
  margin-left: .1rem;
  font-weight: normal; }
.content2 .cont_three p {
  display: flex;
  justify-content: space-between; }
  .content2 .cont_three p a {
    color: #909090;
    line-height: .3rem;
    margin-left: .1rem; }
  .content2 .cont_three p span {
    font-size: .14rem;
    line-height: .3rem;
    float: right; }
.content2 .cont_three h3 img {
  width: 32%;
  height: auto; }
.content2 .cont_three time {
  width: 1.3rem;
  height: 0.2rem;
  background: #fefaee;
  display: inline-block;
  font-size: .12rem;
  fint-weight: normal;
  text-align: center;
  line-height: .2rem;
  color: orange;
  margin: .05rem .05rem; }
.content2 .cont_four h2 {
  font-size: .16rem;
  text-align: center;
  word-spacing: .1rem;
  font-weight: normal; }
.content2 .cont_four h3 {
  margin: .1rem 0 0 0; }
  .content2 .cont_four h3 img {
    width: 32%;
    height: auto; }
.content2 .cont_four h4 p {
  display: inline-block;
  width: 32%;
  height: 0.2rem;
  text-align: center;
  font-size: .12rem;
  font-weight: normal; }
.content2 .cont_four h5 {
  width: 0.8rem;
  height: 0.2rem;
  border-radius: .2rem;
  border: .01rem solid orange;
  text-align: center;
  line-height: .2rem;
  display: inline-block;
  margin: .06rem .06rem 0 .06rem;
  color: orange; }
.content2 .cont_four span {
  color: #ccc;
  margin-left: .1rem; }
.content2 .cont_five {
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 .1rem; }
  .content2 .cont_five img {
    width: 0.95rem;
    height: auto;
    margin-right: .1rem; }
  .content2 .cont_five h3 {
    font-weight: normal;
    flex: 1; }
    .content2 .cont_five h3 p:nth-child(2) {
      display: flex;
      justify-content: space-between; }
      .content2 .cont_five h3 p:nth-child(2) span {
        font-weight: normal;
        color: #ccc; }
      .content2 .cont_five h3 p:nth-child(2) time {
        font-weight: normal; }

/*# sourceMappingURL=style.css.map */
