@charset "UTF-8";
@import "../fonts/iconfont.css";
/*
* @Author: Marte
* @Date:   2018-02-27 13:58:35
* @Last Modified by:   Marte
* @Last Modified time: 2018-02-28 14:39:06
*/
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: .14rem;
  box-sizing: border-box; }

html {
width:100%;
height:100%;
min-width:320px;
  font-size: 100px; }

body {
width:100%;
height:100%;
  user-select: none;
  -webkit-user-select: none;
  touch-callout: none;
  -webkit-touch-callout: none; }


a {
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

@mixin num($w,$h){
    width:$w;
    height:$h;
}
@mixin cir($w){
    width:$w;
    height:$w;
    border-radius:50%;
    display:inline-block;
}
%text{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
@mixin text($n){
    display:-webkit-box;
    -webkit-box-orient:vertical;
    word-break:break-all;
    -webkit-line-clamp:$n;
    overflow:hidden;
    text-overflow:ellipsis;
}
@font-face{
    font-family:"iconfont";
    src:url(../iconfont/iconfont.svg);
    src:url(../iconfont/iconfont.woff);
    src:url(../iconfont/iconfont.ttf);
    src:url(../iconfont/iconfont.eot);
}
.wrap{
  @include num(100%,100%);
  display:flex;
  flex-direction:column;
  background:#f2f2f2;
}
header{
  @include num(100%,.9rem);
  flex-shrink:0;
  .head1{
  @include num(100%,.45rem);
  display:flex;
  align-items:center;
  padding:0 .1rem;
  i.iconfont{
  color:skyblue;
  }
  .box{
  margin:0 .1rem;
  flex:1;
  display:flex;
  align-items:center;
  border:.01rem solid #ccc;
  border-radius:.05rem;
  overflow:hidden;
  background:#fff;
  p{
  @include num(.6rem,auto);
  position:relative;
  margin-left:.05rem;
  span{
  display:block;
  font-size:.12rem;
  b{
  font-weight:normal;
  font-size:.12rem;
  }
  }
  em{
  @include num(0,0);
  border:.05rem solid transparent;
  border-top-color:#ccc;
  position:absolute;
  top:.15rem;
  left:.5rem;
  }
  }
  form{
  flex:1;
  margin-left:.05rem;
  position:relative;
  i.iconfont{
  position:absolute;
  left:50%;
  margin-left:-.8rem;
  top:.08rem;
  color:#ccc;
  }
  input{
  @include num(100%,.35rem);
  outline:none;
  border:0;
  &::-webkit-input-placeholder{
  text-align:center;
  }
  &:focus::-webkit-input-placeholder{
  text-align:left;
  }
  &:focus::-webkit-input-placeholder i.iconfont{
  display:none;
  }
  }
  }
  }
  }
  .head2{
  @include num(100%,.45rem);
  border-bottom:.01rem solid #ccc;
  background:#fff;
  ul{
  display:flex;
  @include num(100%,.45rem);
  align-items:center;
  li{
  position:relative;
  flex:1;
  text-align:center;
  border-right:.01rem solid #ccc;
  @include num(20%,auto);
  &:nth-child(4){
  border:0;
  }
  &:after{
  content:"";
  @include num(0,0);
  border:.03rem solid transparent;
  border-top-color:#ccc;
  position:absolute;
  top:.08rem;
  right:.05rem;
  }
  &:hover{
  color:limegreen;
  }
  &:hover:after{
  content:"";
  @include num(0,0);
  border:.03rem solid transparent;
  border-bottom-color:limegreen;
  position:absolute;
  top:.06rem;
  right:.05rem;
  }
  }
  }
  }
}
section{
  flex:1;
  margin-top:.1rem;
  background:#fff;
  overflow:hidden;
  overflow-y:scroll;
  .iscroll{
  @include num(100%,auto);
  .list{
  @include num(100%,auto);
  dl{
  display:flex;
  border-bottom:.01rem solid #f2f2f2;
  dt{
  @include num(1rem,auto);
  margin-right:.1rem;
  img{
  @include num(100%,auto);
  }
  }
  dd{
  flex:1;
  .name{
  font-size:.18rem;
  @include text(1){};
  }
  .pay{
  color:skyblue;
  line-height:.25rem;
  span{
  margin:0 .05rem;
  &:nth-of-type(2){
  color:#ccc;
  }
  b{
  margin-right:.05rem;
  font-weight:normal;
  font-size:.16rem;
  }
  }
  }
  .distance{
  color:#ccc;
  line-height:.25rem
  }
  .money{
  display:flex;
  justify-content:space-between;
  span{
  color:orange;
  b{
  font-weight:normal;
  font-size:.16rem;
  }
  i{
  color:#ccc;
  margin-left:.1rem;
  font-style:normal;
  font-size:.14rem;
  }
  &:nth-of-type(2){
  font-size:.14rem;
  color:limegreen;
  margin-right:.1rem;
  }
  }
  }
  .square{
  a{
  display:inline-block;
  @include num(.3rem,.18rem);
  border:.01rem solid orange;
  color:orange;
  margin:0 .05rem;
  text-align:center;
  line-height:.18rem;
  font-size:.12rem;
  &:nth-of-type(2){
  @include num(.5rem,.18rem);
  border:.01rem solid skyblue;
  color:skyblue;
  }
  }
  }
  }
  }
  }
  }
}