@import url(../fonts/iconfont.css);
/*
* @Author: Marte
* @Date:   2018-02-27 13:58:35
* @Last Modified by:   Marte
* @Last Modified time: 2018-02-28 14:39:06
*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: .14rem;
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%;
  min-width: 320px;
  font-size: 100px; }

body {
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  touch-callout: none;
  -webkit-touch-callout: none; }

a {
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

@font-face {
  font-family: "iconfont";
  src: url(../iconfont/iconfont.svg);
  src: url(../iconfont/iconfont.woff);
  src: url(../iconfont/iconfont.ttf);
  src: url(../iconfont/iconfont.eot); }
.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #f2f2f2; }

header {
  width: 100%;
  height: 0.9rem;
  flex-shrink: 0; }
  header .head1 {
    width: 100%;
    height: 0.45rem;
    display: flex;
    align-items: center;
    padding: 0 .1rem; }
    header .head1 i.iconfont {
      color: skyblue; }
    header .head1 .box {
      margin: 0 .1rem;
      flex: 1;
      display: flex;
      align-items: center;
      border: .01rem solid #ccc;
      border-radius: .05rem;
      overflow: hidden;
      background: #fff; }
      header .head1 .box p {
        width: 0.6rem;
        height: auto;
        position: relative;
        margin-left: .05rem; }
        header .head1 .box p span {
          display: block;
          font-size: .12rem; }
          header .head1 .box p span b {
            font-weight: normal;
            font-size: .12rem; }
        header .head1 .box p em {
          width: 0;
          height: 0;
          border: .05rem solid transparent;
          border-top-color: #ccc;
          position: absolute;
          top: .15rem;
          left: .5rem; }
      header .head1 .box form {
        flex: 1;
        margin-left: .05rem;
        position: relative; }
        header .head1 .box form i.iconfont {
          position: absolute;
          left: 50%;
          margin-left: -.8rem;
          top: .08rem;
          color: #ccc; }
        header .head1 .box form input {
          width: 100%;
          height: 0.35rem;
          outline: none;
          border: 0; }
          header .head1 .box form input::-webkit-input-placeholder {
            text-align: center; }
          header .head1 .box form input:focus::-webkit-input-placeholder {
            text-align: left; }
          header .head1 .box form input:focus::-webkit-input-placeholder i.iconfont {
            display: none; }
  header .head2 {
    width: 100%;
    height: 0.45rem;
    border-bottom: .01rem solid #ccc;
    background: #fff; }
    header .head2 ul {
      display: flex;
      width: 100%;
      height: 0.45rem;
      align-items: center; }
      header .head2 ul li {
        position: relative;
        flex: 1;
        text-align: center;
        border-right: .01rem solid #ccc;
        width: 20%;
        height: auto; }
        header .head2 ul li:nth-child(4) {
          border: 0; }
        header .head2 ul li:after {
          content: "";
          width: 0;
          height: 0;
          border: .03rem solid transparent;
          border-top-color: #ccc;
          position: absolute;
          top: .08rem;
          right: .05rem; }
        header .head2 ul li:hover {
          color: limegreen; }
        header .head2 ul li:hover:after {
          content: "";
          width: 0;
          height: 0;
          border: .03rem solid transparent;
          border-bottom-color: limegreen;
          position: absolute;
          top: .06rem;
          right: .05rem; }

section {
  flex: 1;
  margin-top: .1rem;
  background: #fff;
  overflow: hidden;
  overflow-y: scroll; }
  section .iscroll {
    width: 100%;
    height: auto; }
    section .iscroll .list {
      width: 100%;
      height: auto; }
      section .iscroll .list dl {
        display: flex;
        border-bottom: .01rem solid #f2f2f2; }
        section .iscroll .list dl dt {
          width: 1rem;
          height: auto;
          margin-right: .1rem; }
          section .iscroll .list dl dt img {
            width: 100%;
            height: auto; }
        section .iscroll .list dl dd {
          flex: 1; }
          section .iscroll .list dl dd .name {
            font-size: .18rem;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            word-break: break-all;
            -webkit-line-clamp: 1;
            overflow: hidden;
            text-overflow: ellipsis; }
          section .iscroll .list dl dd .pay {
            color: skyblue;
            line-height: .25rem; }
            section .iscroll .list dl dd .pay span {
              margin: 0 .05rem; }
              section .iscroll .list dl dd .pay span:nth-of-type(2) {
                color: #ccc; }
              section .iscroll .list dl dd .pay span b {
                margin-right: .05rem;
                font-weight: normal;
                font-size: .16rem; }
          section .iscroll .list dl dd .distance {
            color: #ccc;
            line-height: 0.25rem; }
          section .iscroll .list dl dd .money {
            display: flex;
            justify-content: space-between; }
            section .iscroll .list dl dd .money span {
              color: orange; }
              section .iscroll .list dl dd .money span b {
                font-weight: normal;
                font-size: .16rem; }
              section .iscroll .list dl dd .money span i {
                color: #ccc;
                margin-left: .1rem;
                font-style: normal;
                font-size: .14rem; }
              section .iscroll .list dl dd .money span:nth-of-type(2) {
                font-size: .14rem;
                color: limegreen;
                margin-right: .1rem; }
          section .iscroll .list dl dd .square a {
            display: inline-block;
            width: 0.3rem;
            height: 0.18rem;
            border: .01rem solid orange;
            color: orange;
            margin: 0 .05rem;
            text-align: center;
            line-height: .18rem;
            font-size: .12rem; }
            section .iscroll .list dl dd .square a:nth-of-type(2) {
              width: 0.5rem;
              height: 0.18rem;
              border: .01rem solid skyblue;
              color: skyblue; }

/*# sourceMappingURL=style.css.map */
