/*
* @Author: Marte
* @Date:   2018-01-17 08:38:50
* @Last Modified by:   Marte
* @Last Modified time: 2018-01-17 09:17:34
*/
*{
    padding: 0;
    margin: 0;
    list-style:none;
    text-decoration:none;
}
.box{
    width: 1200px;
    height: 380px;

    margin:0 auto;
}
.left{
    width: 177px;
    height: 380px;
    background:#38bca4;
    float: left;
}
.left ul li{
    height: 44px;
    line-height:44px;

}
.left ul li:hover{
    background:#31a894
}
.left ul li a{
    color:white;margin-left:20px;
}
.left ul li span{
    float: right;
    margin-right: 10px;
    color:white;
}
.right{
width: 1020px;
height: 380px;

float: left;

}
.right .nav{
    height: 38px;

    width: 1020px;
    border-bottom: 2px solid #38bca4;

}
.nav ul li{
   float: left;
   padding:0 15px;
   line-height:38px;
}
.nav ul li a{
    color:#323232;
}
.right .xia{
    height: 331px;
    width: 1020px;
    background:white;
    margin-top: 5px;
}
.x_left{
    width: 756px;
    height: 331px;
    float: left;

}
.banner{
width: 615px;
height: 330px;

float: left;
}
.small{
width: 141px;
height: 330px;

float: left;
}
.x_right{
    width: 249px;
    height: 331px;
    float: left;

    margin-left: 15px;
}
.top{
    width: 249px;
    height: 163px;

}
.top dl{

    width: 80px;
height: 80px;
border:1px solid #e5e5e5;
float: left;
}
.top dl dt{
    width: 32px;
    height: 32px;

    margin-left: 22px;
    margin-top: 15px;
    background:url(../images/xuebi_03.jpg);
    background-position: -8px 0;
}
.top dl dd{
font-size:12px;
text-align: center;
margin-top: 8px;
 color:#606060;
}
.top dl:nth-child(2) dt{
background-position:-90px 0;
}
.top dl:nth-child(3) dt{
background-position:-177px 0;
}
.bottom{
    width: 248px;
    height: 160px;

    margin-top: 10px;
    border:1px solid #e5e5e5;
}
.t_nav{
height: 40px;
background:#f6f6f6;
}
.t_nav ul li{
    line-height:40px;
    float: left;
    padding:0 10px;
     color:#606060;
}
.t_nav ul li:hover{
    background:white;
}
.bottom ol li{
    height: 22px;
    line-height:22px;
    font-size:12px;
    color:#606060;
    background:url(../images/diandian_03.jpg) no-repeat left center;
    padding-left: 10px;
    margin-left: 10px;

}