/*
* @Author: Marte
* @Date:   2018-01-03 13:44:57
* @Last Modified by:   Marte
* @Last Modified time: 2018-01-03 17:00:01
*/
*{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
.bigbox{
    width: 1349px;
    height: 4065px;
    background: #ccc;
    margin:0 auto;
}
.head{
    height: 481px;
    background:yellow;
}
.head1{
    height: 55px;
    background:red;
}
.tu{
    margin-left: 84px;
}
form{
    display: inline-block;
}
.sou{
    width: 342px;
    height:30px;
    border:#a4cbff;
    margin-left: 55px;
    margin-top: 13px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
.su{
    width: 45px;
    height:30px;
    background:url(../images/sousuo_03.jpg) no-repeat center center #a4cbff;
    margin-left: -7px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border:0;
}
ul li{
    display:inline-block;

}
.a1{
    margin-left: 800px;
}
.a1:after{
    content:"";
    width: 0;
    height: 0;
    border:5px solid transparent;
    border-top-color: black;
    display:block;

}
.head2{
    height: 40px;
    background:red;
    margin-top: 10px;
}
.head3{
    height: 26px;
    background:red;
    margin-top: 10px;
}
.head4{
    height: 341px;
   background:red;
    margin-top: 10px;
}
.body1{
    height: 420px;
    background:yellow;
    margin-top: 20px;
}
.body2{
    height: 421px;
    background:yellow;
    margin-top: 20px;
}
.body3{
    height: 426px;
    background:yellow;
    margin-top: 20px;
}
.body4{
    height: 247px;
    background:yellow;
    margin-top: 20px;
}
.body5{
    height: 247px;
    background:yellow;
    margin-top: 20px;
}
.body6{
    height: 247px;
    background:yellow;
    margin-top: 20px;
}
.body7{
    height: 247px;
    background:yellow;
    margin-top: 20px;
}
.body8{
    height: 186px;
    background:yellow;
    margin-top: 20px;
}
.body9{
    height: 345px;
    background:yellow;
    margin-top: 20px;
}
.foot{
    height: 419px;
    background:yellow;
    margin-top: 20px;
}