@import url(../iconfont/iconfont.css);
/*
* @Author: Marte
* @Date:   2018-02-21 15:51:50
* @Last Modified by:   Marte
* @Last Modified time: 2018-02-22 14:03:47
*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: .14rem;
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%;
  font-size: 100px; }

body {
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  touch-callout: none;
  -webkit-touch-callout: none; }

a {
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

@font-face {
  font-family: "iconfont";
  src: url(../iconfont/iconfont.svg);
  src: url(../iconfont/iconfont.woff);
  src: url(../iconfont/iconfont.ttf);
  src: url(../iconfont/iconfont.eot); }
.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

header {
  width: 100%;
  height: 0.9rem;
  display: flex;
  flex-shrink: 0;
  flex-direction: column; }
  header p {
    display: inline; }
  header .head1 {
    width: 100%;
    height: 0.45rem;
    background: #12b7f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .1rem; }
    header .head1 h2 {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      word-break: break-all;
      -webkit-line-clamp: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 .1rem;
      flex: 1;
      color: #fff;
      text-align: center; }
    header .head1 span.iconfont {
      color: #fff;
      font-size: .16rem; }
  header .head2 {
    width: 100%;
    height: 0.45rem;
    background: #62ab00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .1rem; }
    header .head2 p:after {
      content: "";
      width: 0;
      height: 0;
      border: .05rem solid transparent;
      border-top-color: #fff;
      position: relative;
      top: .12rem;
      left: .05rem; }
    header .head2 form {
      flex: 1;
      margin: 0 .1rem;
      position: relative; }
      header .head2 form i.iconfont {
        position: absolute;
        top: .06rem;
        left: 50%;
        margin-left: -.72rem;
        color: #ccc; }
      header .head2 form input {
        width: 100%;
        height: 0.3rem;
        border-radius: .05rem;
        background: #f0f7e6;
        border: 0;
        outline: none; }
        header .head2 form input::-webkit-input-placeholder {
          text-align: center;
          color: #ccc; }
    header .head2 span.iconfont {
      color: #fff;
      font-size: .2rem; }

section {
  flex: 1;
  background: #ccc;
  overflow: hidden;
  overflow-y: scroll; }
  section .nav {
    width: 100%;
    height: auto;
    background: #fff; }
    section .nav ul {
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap; }
      section .nav ul li {
        width: 25%;
        height: auto;
        text-align: center;
        padding: .1rem; }
        section .nav ul li img {
          width: 60%;
          height: auto;
          display: block;
          margin: 0 auto; }
    section .nav h2 {
      display: flex;
      padding: .1rem;
      align-items: center; }
      section .nav h2 p {
        font-size: .2rem;
        margin-right: .1rem;
        color: #67b100;
        font-style: italic; }
      section .nav h2 span {
        flex: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        word-break: break-all;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: normal; }
        section .nav h2 span:before {
          content: "";
          width: 0.07rem;
          height: 0.07rem;
          background: #ccc;
          display: inline-block;
          border-radius: .1rem;
          margin-right: .05rem; }
  section .content1 {
    margin-top: .1rem;
    background: #fff;
    width: 100%;
    height: auto; }
    section .content1 ul {
      width: 100%;
      height: auto; }
      section .content1 ul li {
        width: 100%;
        height: 0.45rem;
        display: flex;
        justify-content: space-between;
        border-bottom: .01rem solid #ccc;
        line-height: .45rem;
        padding: 0 .1rem; }
        section .content1 ul li p {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          word-break: break-all;
          -webkit-line-clamp: 1;
          overflow: hidden;
          text-overflow: ellipsis; }
  section .content2 {
    background: #fff;
    margin-top: .1rem; }
    section .content2 h2 {
      display: flex;
      border-bottom: .01rem solid #ccc; }
      section .content2 h2 p {
        width: 0.06rem;
        height: 0.3rem;
        background: #6fb50e;
        margin-right: .1rem; }
      section .content2 h2 span {
        line-height: .3rem; }
    section .content2 .con {
      display: flex;
      justify-content: space-between;
      padding: .1rem .1rem;
      width: 100%;
      height: auto;
      border-bottom: .01rem solid #ccc; }
      section .content2 .con .left {
        width: 0.8rem;
        height: auto;
        margin-right: .1rem; }
        section .content2 .con .left img {
          width: 100%;
          height: auto; }
      section .content2 .con .right {
        flex: 1; }
        section .content2 .con .right h5 {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          word-break: break-all;
          -webkit-line-clamp: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          border: 0; }
        section .content2 .con .right h3 {
          display: flex;
          justify-content: space-between; }
        section .content2 .con .right h4 {
          display: flex;
          margin-top: .03rem; }
          section .content2 .con .right h4 p {
            border: .01rem solid #62ab00;
            color: #62ab00;
            padding: 0 .05rem;
            font-size: .12rem;
            margin-right: .05rem; }

/*# sourceMappingURL=style.css.map */
