@charset "UTF-8";
@import "../iconfont/iconfont.css";
/*
* @Author: Marte
* @Date:   2018-02-02 08:36:31
* @Last Modified by:   Marte
* @Last Modified time: 2018-02-02 09:22:07
*/
@charset "UTF-8";
@import "../iconfont/iconfont.css";
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: .14rem;
  box-sizing: border-box; }

html {
width:100%;
height:100%;
  font-size: 100px; }

body {
width:100%;
height:100%;
  user-select: none;
  -webkit-user-select: none;
  touch-callout: none;
  -webkit-touch-callout: none; }


a {
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

@mixin num($w,$h){
    width:$w;
    height:$h;
}
@mixin cir($w){
    width:$w;
    height:$w;
    border-radius:50%;
    display:inline-block;
}
%text{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
@mixin text($n){
    display:-webkit-box;
    -webkit-box-orient:vertical;
    word-break:break-all;
    -webkit-line-clamp:$n;
    overflow:hidden;
    text-overflow:ellipsis;
}
@font-face{
    font-family:"iconfont";
    src:url(../iconfont/iconfont.svg);
    src:url(../iconfont/iconfont.woff);
    src:url(../iconfont/iconfont.ttf);
    src:url(../iconfont/iconfont.eot);
}
.box{
    @include num(100%,100%);
    display:flex;
    flex-direction:column;
}
header{
   @include num(100%,.45rem);
   //background:red;
   padding:0.1rem;
   display:flex;
   justify-content:space-between;
   align-items:center;
   span{
   font-size:.18rem;
   em.iconfont{
   font-size:.18rem;
   color:#f65828;
   }
   }
   time.iconfont{
   color:#969696;
   font-size:.14rem;
   }
}
section{
    flex:1;
    background:#f6f6f6;
    .banner{
    display:flex;
    justify-content:space-between;
    .left{
    @include num(50%,auto);
    background:#e7f3ff;text-align:center;
    padding:.22rem 0;
    h2{
    font-size:.16rem;
    //padding-top:.15rem;
    }
    p{
    font-size:.14rem;
    color:#a6a6a8;
    line-height:.3rem;
    }
    img{
    @include num(50%,auto);
    margin-top:.1rem;
    }
    }
    .right{
    @include num(50%,auto);
    //background:yellow;
    .top{
    @include num(auto,50%);
    background:#fff0f5;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 .1rem;
    img{
    @include num(50%,auto);
    }
    h2{
    font-size:.16rem;
    //padding-top:.15rem;
    }
    p{
    font-size:.14rem;
    color:#a6a6a8;
    line-height:.3rem;
    }
    }
    .bot{
    @include num(auto,50%);
    background:#e8fcfd;
    //margin-top:4%;

    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 .1rem;
    img{
    @include num(50%,auto);
    }
    h2{
    font-size:.16rem;
    //padding-top:.15rem;
    }
    p{
    font-size:.14rem;
    color:#a6a6a8;
    line-height:.3rem;
    }
    }
    }
    }
    nav{
    margin-top:.1rem;
    background:#fff;
    ul{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    text-align:center;

    li{
     width:33.3%;
     height:.45rem;
     line-height:.45rem;
     border-top:.01rem solid #f4f4f4;
     border-right:.01rem solid #f4f4f4;
     //align-self:center;
    }
    }

    }
}